<template>
  <article>
    <azalea-sprout-container v-if="content.images.length > 0" as="section" class="bg-tertiary-100">
      <azalea-sprout-figure>
        <template #media>
          <azalea-sprout-image
            :id="'image-' + content.images[0].id"
            :src="content.images[0].sizes['large']"
            :alt="content.images[0].alt"
            :title="content.images.title"
          >
          </azalea-sprout-image>
        </template>
        <template #caption>
          <azalea-sprout-description-text as="figcaption" type="caption" class="flex justify-center mt-2 lg:mt-4">
            {{ content.images[0].caption }}
          </azalea-sprout-description-text>
        </template>
      </azalea-sprout-figure>
    </azalea-sprout-container>
    <azalea-sprout-container class="max-w-screen-2xl mx-auto" as="header">
      <azalea-sprout-heading v-if="content.title" size="large" as="h1">{{ content.title }}</azalea-sprout-heading>
      <azalea-sprout-heading v-if="content.translatedTitle" size="medium" as="h2">
        <span>Translation: </span><span>{{ content.translatedTitle }}</span>
      </azalea-sprout-heading>
      <p v-if="content.isOnView" v-once class="text-xl text-gray-700 dark:text-gray-200">
        <span class="">On View.</span>
        <span v-if="content.locationDescription" v-once class="ml-2">
          {{ content.locationDescription }}
        </span>
      </p>
      <azalea-sprout-body-text v-if="content.collectionDescription || content.description" size="large">
        <azalea-sprout-heading size="small" :level="3">Description</azalea-sprout-heading>
        <div v-if="content.collectionDescription" v-html="content.collectionDescription"></div>
        <div v-else v-html="content.description"></div>
      </azalea-sprout-body-text>
    </azalea-sprout-container>
    <azalea-sprout-container class="max-w-screen-2xl mx-auto" as="section">
      <!-- TODO: Move tombstone to a component/block -->
      <dl class="tombstone">
        <azalea-seedling-description-list-item v-if="content.accessionNumber" term="Object Number">
          {{ content.accessionNumber }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.dateDescription" v-once term="Dated">
          {{ content.dateDescription }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.hasUnidentifiedCreator" v-once term="Artist">
          <span>Unidentified</span>
        </azalea-seedling-description-list-item>
        <div v-for="(creator, index) in content.creators" :key="index">
          <azalea-seedling-description-list-item :term="creator.creatorRole">
            <nuxt-link
              :to="creator.path.replace('/creator', '/artist')"
              :title="`More about ${creator.creatorRole.toLowerCase()} ${creator.name}`"
            >
              {{ creator.name }}
            </nuxt-link>
          </azalea-seedling-description-list-item>
        </div>
        <azalea-seedling-description-list-item v-if="content.classifications" term="Classification">
          <span v-for="(item, index) in content.classifications" :key="index">
            <azalea-sprout-link :href="`/search/artworks?type=artwork&classifications[]=${item}`">{{
              item
            }}</azalea-sprout-link>
            <span v-if="content.classifications.length > index + 1" class="mr-1">,</span>
          </span>
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.mediumsDescription" term="Mediums">
          {{ content.mediumsDescription }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.dimensionsDescription" term="Dimensions">
          <span v-html="content.dimensionsDescription"></span>
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.credit" term="Credit">
          {{ content.credit }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item
          v-if="content.exhibitionHistory"
          term="Exhibition History"
          class="whitespace-pre-line"
        >
          {{ content.exhibitionHistory }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.markings" term="Markings" class="whitespace-pre-line">
          {{ content.markings }}
        </azalea-seedling-description-list-item>
        <!-- TODO: parse the ontology as keywords -->
        <azalea-seedling-description-list-item v-if="content.ontology" term="Keyworks">
          <ul>
            <li v-for="(item, index) in content.ontology" :key="index">
              {{ item }}
            </li>
          </ul>
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-for="(item, index) in content.citations" :key="index" term="Citations">
          {{ item }}
        </azalea-seedling-description-list-item>
      </dl>
    </azalea-sprout-container>
  </article>
</template>

<script>
  export default {
    props: {
      content: {
        type: Object,
        default: null,
      },
    },
  }
</script>
