<template>
  <article>
    <azalea-sprout-container class="max-w-screen-2xl mx-auto" as="header">
      <azalea-sprout-heading v-if="content.name" size="large" as="h1">{{ content.name }}</azalea-sprout-heading>
      <azalea-sprout-description-text v-if="content.dateDescription" type="lead">
        {{ content.dateDescription }}
      </azalea-sprout-description-text>
    </azalea-sprout-container>
    <azalea-sprout-container class="max-w-screen-2xl mx-auto" as="section">
      <!-- TODO: Add a computed property to get the description, including the Wikipedia extract. -->
      <div v-if="content.collectionDescription || content.description" class="my-4 py-4 sm:my-2 sm:my-2">
        <azalea-sprout-heading size="small" as="h3">Description</azalea-sprout-heading>
        <div class="text-lg text-gray-700 dark:text-gray-200">
          <div v-if="content.description" v-html="content.description"></div>
          <div v-else-if="content.collectionDescription" v-html="content.collectionDescription"></div>
        </div>
      </div>
      <dl class="tombstone">
        <azalea-seedling-description-list-item v-if="content.dateOfBirth" term="Born">
          {{ content.dateOfBirth }}
        </azalea-seedling-description-list-item>
        <azalea-seedling-description-list-item v-if="content.dateOfDeath" term="Died">
          {{ content.dateOfDeath }}
        </azalea-seedling-description-list-item>
      </dl>
    </azalea-sprout-container>
  </article>
</template>

<script>
  export default {
    props: {
      content: {
        type: Object,
        default: null,
      },
    },
  }
</script>
