<template>
  <article>
    <azalea-sprout-container class="max-w-screen-2xl mx-auto" as="header">
      <azalea-sprout-heading
        v-if="content.title"
        v-once
        size="xlarge"
        :level="1"
        v-html="content.formattedTitle"
      ></azalea-sprout-heading>
      <azalea-sprout-heading v-else v-once size="xlarge" :level="1">{{ content.title }}</azalea-sprout-heading>
      <azalea-sprout-heading
        v-if="content.subtitle"
        v-once
        :level="2"
        class="my-6 text-tertiary-400"
        v-html="content.subtitle"
      >
      </azalea-sprout-heading>
    </azalea-sprout-container>
    <azalea-sprout-container
      v-if="content.components && content.components.length > 0"
      class="max-w-screen-2xl mx-auto"
      as="section"
    >
      <div v-for="(component, index) in content.components" :key="index" class="mb-6 md:mb-8 lg:mb-12">
        <viola-component :component="component"></viola-component>
      </div>
    </azalea-sprout-container>
  </article>
</template>

<script>
  export default {
    props: {
      content: {
        type: Object,
        default: null,
      },
    },
  }
</script>
