<template>
  <component :is="type" :component="component"></component>
</template>

<script>
  import _ from 'lodash'
  export default {
    props: {
      component: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        type: '',
      }
    },
    created() {
      // Create a dynamic component based on the Drupal Paragraph type.
      this.type = `viola-component-${_.kebabCase(this.component.bundle)}`
    },
  }
</script>
