<template>
  <div
    class="
      sidebar-component
      h-screen
      hidden
      md:flex md:flex-shrink-0
      mr-4
      rounded-sm
      bg-gray-200
      dark:bg-gray-700 dark:text-gray-100
    "
  >
    <div class="flex flex-col w-96">
      <header v-if="$slots['header']" class="flex items-center flex-shrink-0 p-4 mt-4 border-b border-gray-300">
        <slot name="header"></slot>
      </header>
      <div class="flex-1 flex flex-col mt-6 px-4">
        <slot name="body"></slot>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      side: {
        type: String,
        default: 'left',
      },
    },
  }
</script>
