<template>
  <azalea-sprout-push-button v-if="enabled" class="ml-2 mb-2" @click="clicked">
    <azalea-sprout-icon icon="arrow-sm-left"></azalea-sprout-icon>
    <span>Back to search results</span>
  </azalea-sprout-push-button>
</template>

<script>
  export default {
    computed: {
      enabled() {
        const routeNames = ['search', 'search-artists', 'search-artworks']
        return routeNames.includes(this.$store.state.route.from.name)
      },
    },
    methods: {
      clicked() {
        this.$router.push(this.$store.state.route.from.fullPath)
      },
    },
  }
</script>
