<template>
  <div class="w-full">
    <div class="flex mt-4 justify-center">
      <azalea-sprout-spinner v-if="loading" :loading="loading"></azalea-sprout-spinner>
      <p v-else-if="results && phrase" class="text-sm text-tertiary-700 uppercase">
        <span class="text-tertiary-700">
          Results for "<strong> {{ phrase }} </strong>"
        </span>
      </p>
      <p v-else-if="!results && !loading" class="text-sm text-tertiary-700 uppercase">Sorry, no results.</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      phrase: {
        type: String,
        default: '',
      },
      results: {
        type: Boolean,
        default: false,
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>
