<template>
  <div>
    <!-- Grid layout -->
    <azalea-sprout-container v-if="layout === 'grid'" as="section" class="results h-full">
      <azalea-garden-wall :items="results"> </azalea-garden-wall>
    </azalea-sprout-container>
    <!-- Default List layout -->
    <azalea-sprout-container v-else>
      <azalea-sprout-stacked-box>
        <azalea-plant-search-result v-for="result in results" :key="result.id">
          <template #media>
            <div v-if="hasImage(result)">
              <azalea-sprout-link :href="result.path">
                <azalea-sprout-image
                  :src="result.image.sizes['small']"
                  :alt="result.image.caption"
                ></azalea-sprout-image>
              </azalea-sprout-link>
            </div>
          </template>
          <template #header>
            <azalea-sprout-link :href="result.path" class="text-xl">{{ result.title }}</azalea-sprout-link>
          </template>
          <template #body>
            <p>{{ result.summary }}</p>
            <div v-if="resultIsOnView(result)">
              <azalea-sprout-icon icon="eye" size="small" class="inline-block mr-2"></azalea-sprout-icon>
              <span>On View</span>
            </div>
            <azalea-sprout-badge>{{ result.type === 'creator' ? 'artist' : result.type }}</azalea-sprout-badge>
          </template>
        </azalea-plant-search-result>
      </azalea-sprout-stacked-box>
    </azalea-sprout-container>
  </div>
</template>

<script>
  import _ from 'lodash'
  export default {
    props: {
      layout: {
        type: String,
        default: 'list',
      },
      results: {
        type: Array,
        default: () => [],
      },
      maxScore: {
        type: Number,
        default: 0,
      },
    },
    methods: {
      resultIsTopMatch(item) {
        return item.score >= 80 && item.score === this.maxScore
      },
      resultIsOnView(item) {
        return item?.isOnView === 'true' && item?.type === 'artwork'
      },
      hasImage(result) {
        return result.image && !_.isEmpty(result.image)
      },
    },
  }
</script>
