<template>
  <div>
    <azalea-plant-search-bar
      ref="searchBar"
      :value="query"
      :initial-focus="true"
      @submitted="submit"
      @reset="resetForm"
      @update:value="(payload) => (query = payload)"
      @focused="(payload) => (focused = payload)"
    ></azalea-plant-search-bar>
    <!-- Loading feedback -->
    <div class="flex justify-center h-6">
      <azalea-sprout-spinner :loading="loading" size="small"></azalea-sprout-spinner>
    </div>
    <!-- Suggestion results -->
    <div v-if="showSuggestions && focused">
      <div v-if="query.length === 0 && Array.isArray(recentSearches) && recentSearches.length > 0">
        <span class="sr-only">Recent search phrases</span>
        <ul class="px-2 md:px-6 rounded border border-tertiary-300 divide-y divide-tertiary-300 shadow-md">
          <azalea-seedling-search-suggestion
            v-for="(item, index) in recentSearches"
            :key="index"
            :text="item"
            icon-name="clock"
            @suggestion-selected="setInputValue"
          ></azalea-seedling-search-suggestion>
        </ul>
      </div>
      <div v-else-if="query.length > 0 && suggestions.length > 0 && focused">
        <span class="sr-only">Suggested search phrases</span>
        <div class="w-full my-4 text-sm text-tertiary-500 font-light">Suggestions for {{ query }}</div>
        <ul class="px-2 md:px-6 rounded border border-tertiary-300 divide-y divide-tertiary-300 shadow-md">
          <azalea-seedling-search-suggestion
            v-for="(item, index) in suggestions"
            :key="index"
            :text="item.title"
            :link="item.path ? { href: item.path } : false"
            link-text="view"
            :icon-name="item.icon ? item.icon : false"
            @suggestion-selected="setInputValue"
            @suggestion-link-clicked="$emit('suggestion-link-clicked')"
          ></azalea-seedling-search-suggestion>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'
  import SearchResult from '~/lib/models/SearchResult'

  export default {
    props: {
      showSuggestions: {
        type: Boolean,
        default: true,
      },
      formAction: {
        type: String,
        default: '/search',
      },
      initialValue: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        query: '',
        suggestions: [],
        loading: false,
        numSuggestions: 12,
        focused: false,
      }
    },
    computed: {
      recentSearches() {
        return this.$store.state.recent.searches
      },
      phrase() {
        return this.$store.state.search.phrase ?? ''
      },
    },
    watch: {
      query() {
        if (this.showSuggestions) {
          this.getSuggestions()
        }
      },
    },
    mounted() {
      this.query = this.initialValue
    },
    methods: {
      ...mapMutations('search', ['reset', 'setInput', 'resetResults', 'setPhrase', 'setResults']),
      ...mapMutations('recent', ['addSearch']),
      async getSuggestions() {
        // TODO: move this to search store (or plugin)?
        this.loading = true
        const suggestions = []
        const endpoint = '/services/search/suggestions'
        const params = { size: this.numSuggestions, q: this.query }
        return await this.$axios.get(endpoint, { params }).then((res) => {
          if (res.status === 200 && res.data !== undefined && res.data.hits.total.value > 0) {
            const items = res.data.hits.hits.map((hit) => hit._source)
            items.forEach((item) => {
              suggestions.push(SearchResult(item))
            })
          }
          this.suggestions = suggestions
          this.loading = false
        })
      },
      submit(text) {
        // Update the store with search phrase and filters.
        this.addSearch(this.query)
        this.setPhrase(this.query)
        // Push route with filter parameter.
        // TODO: Push filters?
        this.$search.updateUrl(this.formAction, 'q', this.query)
        this.$emit('submitted', this.query)
      },
      setInputValue(text) {
        console.log(`set input value: `, text)
        this.query = text
        this.suggestions = []
        this.setPhrase(text)
        this.$refs.searchBar.focus()
      },
      resetForm() {
        this.reset()
        this.$refs.searchBar.focus()
      },
    },
  }
</script>
