<template>
  <azalea-seedling-tabs v-if="hits > 0" :tabs="tabs"> </azalea-seedling-tabs>
</template>

<script>
  export default {
    props: {
      aggregations: {
        type: Object,
        default: null,
      },
      hits: {
        type: Number,
        default: 0,
      },
    },
    computed: {
      query() {
        return this.$store.state.route.query
      },
      tabs() {
        const tabs = []
        tabs.push({
          name: 'All',
          count: this.hits,
          route: { path: '/search', query: { ...this.query, ...{ type: 'all' } } },
          current: typeof this.query.type === 'undefined' || this.query.type === 'all',
        })
        if (this.aggregations.artwork && this.aggregations.artwork.doc_count > 0) {
          tabs.push({
            name: 'Artworks',
            count: this.aggregations.artwork.doc_count,
            route: { path: '/search/artworks', query: { ...this.query, ...{ type: 'artwork' } } },
            current: typeof this.query.type === 'undefined' || this.query.type === 'artwork',
          })
        }
        if (this.aggregations.creator && this.aggregations.creator.doc_count > 0) {
          tabs.push({
            name: 'Artists',
            count: this.aggregations.creator.doc_count,
            route: { path: '/search/artists', query: { ...this.query, ...{ type: 'creator' } } },
            current: typeof this.query.type === 'undefined' || this.query.type === 'creator',
          })
        }
        return tabs
      },
    },
    mounted() {
      console.log(`type is:`, this.query.type)
    },
  }
</script>
