<template>
  <div>
    <azalea-sprout-container v-if="!loading && results.length > 0" as="section">
      <div class="max-w-screen-2xl mx-auto">
        <azalea-seedling-content-header
          :heading-text="`Works by ${parentContent.name}`"
        ></azalea-seedling-content-header>
        <azalea-garden-wall :items="results"> </azalea-garden-wall>
      </div>
    </azalea-sprout-container>
    <div v-else class="flex justify-center h-6">
      <azalea-sprout-spinner :loading="loading"></azalea-sprout-spinner>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import SearchArtworkCardData from '~/lib/models/SearchArtworkCardData'
  export default {
    props: {
      parentContent: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        results: [],
        loading: false,
      }
    },
    async fetch() {
      // Get the Artist's artworks from the search index.
      if (this.parentContent.constituentId !== undefined) {
        this.loading = true
        const options = { params: { type: 'artwork', constituent_id: this.parentContent.constituentId } }
        const results = await this.$search.query('/services/filter/artworks', options)
        // Rewrite search results as an object which can be passed to a component.
        const artworks = []
        results.forEach((item) => {
          artworks.push(SearchArtworkCardData(item))
        })
        this.results = _.concat(this.results, artworks)
        this.loading = false
      }
    },
  }
</script>
