<template>
  <div>
    <azalea-sprout-container v-if="!loading && results.length > 0" as="section">
      <azalea-seedling-content-header heading-text="More artworks from the collection"></azalea-seedling-content-header>
      <azalea-sprout-flexible-box>
        <div v-for="artwork in artworks" :key="artwork.link">
          <component :is="artwork.component" v-bind="{ ...artwork.props }"></component>
        </div>
      </azalea-sprout-flexible-box>
    </azalea-sprout-container>
    <div v-else class="flex justify-center h-6">
      <azalea-sprout-spinner :loading="loading"></azalea-sprout-spinner>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import qs from 'qs'
  import SearchArtworkCardData from '~/lib/models/SearchArtworkCardData'
  export default {
    props: {
      parentContent: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        results: [],
        query: {},
        loading: false,
      }
    },
    async fetch() {
      // Get related Artworks.
      this.loading = true
      this.query = {
        type: 'artwork',
        size: 10,
        filter: [`object_id|${this.parentContent.objectId}`],
        classifications: this.parentContent.classifications,
        mediums: this.parentContent.mediums,
        keywords: this.parentContent.keywords,
        periods: this.parentContent.periods,
      }
      // TODO: Viola needs to allow to negate a parameter, (For example: constituent_id !== 123) so we can exclude the current artwork and other artworks by this artist.
      this.parentContent.creators.forEach((item, index) => {
        this.query.filter.push(`constituent_id|${item.constituentId}`)
      })
      // Remove empty params
      Object.keys(this.query).forEach((prop) => {
        if (!_.isFinite(this.query[prop]) && _.isEmpty(this.query[prop])) {
          delete this.query[prop]
        }
      })
      // console.log(`more artworks criteria: `, this.query)
      // Query params for filters are set as brackets. For example "colors[]=red&colors[]=blue"
      const queryString = qs.stringify(this.query, { arrayFormat: 'brackets' })
      // TODO: Viola needs to allow filtering by Keywords
      this.results = await this.$search.query(`/services/filter/artworks?${queryString}`)
      this.loading = false
    },
    computed: {
      artworks() {
        const artworks = []
        this.results.forEach((item) => {
          artworks.push(SearchArtworkCardData(item))
        })
        return artworks
      },
    },
  }
</script>
