<template>
  <azalea-sprout-push-button
    variant="label"
    @click.prevent="$emit('remove-facet', { name: facet.name, value: facet.value })"
    @keydown="$emit('remove-facet', { name: facet.name, value: facet.value })"
  >
    <azalea-sprout-badge size="large">
      <span v-if="hasProperty(facet, 'label')" class="mr-2">{{ facet.label }}</span>
      <span
        v-else-if="hasProperty(facet, 'hex')"
        class="w-6 h-6 mr-2 text-lg inline-block align-middle rounded-full"
        :style="`background-color: ${facet.hex}`"
      ></span>
      <span v-else>{{ facet.value }}</span>
      <span>
        <azalea-sprout-icon icon="x"></azalea-sprout-icon>
      </span>
    </azalea-sprout-badge>
  </azalea-sprout-push-button>
</template>

<script>
  export default {
    props: {
      facet: {
        type: Object,
        default: null,
      },
    },
    methods: {
      hasProperty(obj, propName) {
        return Object.prototype.hasOwnProperty.call(obj, propName)
      },
    },
  }
</script>
