<template>
  <div>
    <app-search-back-button></app-search-back-button>
    <viola-content-creator-default
      v-if="content"
      :content="content"
      :data-uuid="content.uuid"
    ></viola-content-creator-default>
    <block-artists-artworks v-if="content" :parent-content="content"></block-artists-artworks>
  </div>
</template>

<script>
  export default {
    name: 'ArtistPage',
    async asyncData({ route, error, $viola }) {
      try {
        const content = await $viola.getEntityFromPath(route.path.replace('/artist', '/creator'))
        return { content }
      } catch (e) {
        error(e)
      }
    },
    head() {
      return {
        title: this.content.title,
        description: this.content.description,
      }
    },
  }
</script>
