<template>
  <div>
    <azalea-plant-section-header heading-text="Exhibitions"> </azalea-plant-section-header>
    <app-events-menu></app-events-menu>
    <azalea-sprout-body-text :prose="true" as="main">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Primum divisit ineleganter; Hoc simile tandem est?
          Satis est ad hoc responsum. Duo Reges: constructio interrete. Idemque diviserunt naturam hominis in animum et
          corpus.
        </p>
        <p>
          Nunc vides, quid faciat. Sedulo, inquam, faciam. Si quicquam extra virtutem habeatur in bonis. Quid autem
          habent admirationis, cum prope accesseris? Gerendus est mos, modo recte sentiat. Sed quid sentiat, non
          videtis.
        </p>
        <p>
          Ipse Epicurus fortasse redderet, ut <i>[redacted]</i>tus Peducaeus, <i>[redacted]</i>. Age sane, inquam. Ego
          vero isti, inquam, permitto. At hoc in eo M.
        </p>
        <p>
          Graccho, eius fere, aequalí? Prodest, inquit, mihi eo esse animo. Facillimum id quidem est, inquam. Terram,
          mihi crede, ea lanx et maria deprimet. Quod ea non occurrentia fingunt, vincunt Aristonem; Praeteritis,
          inquit, gaudeo.
        </p>
        <p>
          Dici enim nihil potest verius. Dat enim intervalla et relaxat. At, si voluptas esset bonum, desideraret. At
          enim sequor utilitatem. Quid, de quo nulla dissensio est? Tollenda est atque extrahenda radicitus.
        </p>
      </div>
    </azalea-sprout-body-text>
  </div>
</template>

<script>
  export default {
    name: 'ExhibitionsPage',
  }
</script>
