<template>
  <div class="map-component flex w-full bg-gray-100 shadow-md">
    <azalea-sprout-spinner :loading="isLoading"></azalea-sprout-spinner>
    <div id="map" class="w-full" style="height: 30rem; width: 100%"></div>
  </div>
</template>

<script>
  import 'leaflet/dist/leaflet.css'
  import states from '~/assets/data/geo/states.json'

  export default {
    emits: ['map-selected'],
    data() {
      return {
        isLoading: true,
        center: [37.8, -96],
        zoom: 3,
        map: null,
        tileLayer: null,
        overlayStyle: {
          weight: 1,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.5,
          fillColor: '#015E84',
        },
        layers: [states],
      }
    },
    mounted() {
      this.initMap()
      this.initLayers()
    },
    methods: {
      initMap() {
        this.map = this.$leaflet.map('map').setView(this.center, this.zoom)
        this.tileLayer = this.$leaflet.tileLayer(
          'https://api.mapbox.com/styles/v1/ericpugh/cki4yql80838i19pju1ejf240/tiles/256/{z}/{x}/{y}?access_token={accessToken}',
          {
            maxZoom: 18,
            minZoom: 1,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1IjoiZXJpY3B1Z2giLCJhIjoiM2czWTR2RSJ9.0sR1InVR_jzCp_HB2szVEg',
          }
        )
        this.tileLayer.addTo(this.map)
        this.map.whenReady(() => {
          this.isLoading = false
        })
      },
      initLayers() {
        // Initialize the overlay layer.
        const geojson = this.$leaflet
          .geoJSON(this.layers[0].features, {
            style: this.overlayStyle,
            onEachFeature: (feature, layer) => {
              layer.on({
                mouseover: (e) => {
                  const layer = e.target
                  layer.setStyle({
                    weight: 3,
                    color: '#EFEFEF',
                    dashArray: '',
                    fillOpacity: 0.5,
                  })
                  if (!this.$leaflet.Browser.ie && !this.$leaflet.Browser.opera && !this.$leaflet.Browser.edge) {
                    layer.bringToFront()
                  }
                },
                mouseout: (e) => {
                  geojson.resetStyle(e.target)
                },
                click: (e) => {
                  // eslint-disable-next-line no-console
                  console.log(e)
                  // Zoom into the selected feature and emit a custom event.
                  this.map.fitBounds(e.target.getBounds(), { maxZoom: 6 })
                  this.$emit('map-selected', e.target.feature.properties.name)
                },
              })
            },
          })
          .addTo(this.map)
      },
    },
  }
</script>

<style scoped>
  #map {
    width: 80vw;
    height: 100vh;
  }
</style>
