<template>
  <nav class="breadcrumb-component mx-2" role="navigation">
    <ol class="flex">
      <li class="inline-block mr-2 text-tertiary-700 hover:text-black dark:text-white dark:hover:text-tertiary-900">
        <nuxt-link :to="'/'" class="no-underline"> Home </nuxt-link>
      </li>
      <li v-for="(item, i) in crumbs" :key="i" class="item">
        <nuxt-link
          :to="item.to"
          class="
            inline-block
            mr-2
            no-underline
            text-tertiary-700
            hover:text-black
            dark:text-white dark:hover:text-tertiary-900
          "
        >
          {{ item.title }}
        </nuxt-link>
      </li>
    </ol>
  </nav>
</template>

<script>
  import _ from 'lodash'

  export default {
    computed: {
      crumbs() {
        const pathArray = this.$route.path.split('/')
        pathArray.shift()
        return pathArray.reduce((breadcrumbArray, path, idx) => {
          breadcrumbArray.push({
            to: breadcrumbArray[idx - 1] ? '/' + breadcrumbArray[idx - 1].path + '/' + path : '/' + path,
            title: _.startCase(path),
          })
          return breadcrumbArray
        }, [])
      },
    },
  }
</script>

<style scoped>
  ol li:after {
    content: '/';
    padding: 0 0.5rem;
  }
  ol li:last-child:after {
    content: '';
  }
</style>
