<template>
  <div>
    <azalea-plant-search-bar :initial-focus="true" @submitted="toggleDrawer"></azalea-plant-search-bar>
    <azalea-seedling-nav-list :items="mainMenuItems"></azalea-seedling-nav-list>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    computed: {
      mainMenuItems() {
        // Get enabled items from main menu store.
        const items = this.$store.state.menu.main.filter((item) => item.enabled)
        // Rename the path property.
        items.forEach((item, index) => {
          items[index].path = items[index].url
        })
        return items
      },
    },
    methods: {
      ...mapMutations('interface', {
        toggleDrawer: 'toggleDrawer',
      }),
    },
  }
</script>
