<template>
  <azalea-seedling-tabs
    :tabs="[
      { name: 'Exhibitions', href: '/events/exhibitions' },
      { name: 'Events', href: '/events' },
      { name: 'Tours', href: '/events/tours' },
    ]"
    class="mb-4"
  >
  </azalea-seedling-tabs>
</template>
