<template>
  <azalea-sprout-push-button variant="primary" size="large" :block="true">
    <azalea-sprout-icon v-if="isLoading" icon="loading" size="large"></azalea-sprout-icon>
    <span v-else class="uppercase text-xl font-black">{{ label }}</span>
  </azalea-sprout-push-button>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        default: 'Load More',
      },
      isLoading: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>
