<template>
  <azalea-garden-navbar>
    <template #logo>
      <azalea-sprout-link href="/">
        <img
          src="~/assets/images/branding/logo.svg?data"
          alt="Smithsonian American Art Museum Logo"
          class="w-16 h-16 md:w-24 md:h-24 lg:w-32 lg:h-32"
        />
      </azalea-sprout-link>
    </template>
    <template #primary-nav>
      <ul class="flex flex-row justify-end space-x-8">
        <li v-for="item in mainMenuItems" :key="item.id">
          <azalea-sprout-link :href="item.url" :title="item.description">
            {{ item.title }}
          </azalea-sprout-link>
        </li>
        <li>
          <azalea-sprout-push-button variant="label" @click.native="toggleModal">
            <azalea-sprout-icon icon="search"></azalea-sprout-icon>
            <span class="sr-only">Search the site.</span>
          </azalea-sprout-push-button>
        </li>
      </ul>
    </template>
    <template #top-bar><span>Version 0.0.0</span></template>
    <template #mobile>
      <azalea-sprout-icon
        icon="menu"
        class="text-sm text-tertiary-500 uppercase cursor-pointer"
        :clickable="true"
        @click.native="$emit('toggle-drawer')"
      >
        <span>Menu</span>
      </azalea-sprout-icon>
    </template>
  </azalea-garden-navbar>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    data() {
      return {
        mobileMenuVisible: false,
      }
    },
    computed: {
      modalOpen() {
        return this.$store.state.interface.modalOpen
      },
      drawerOpen() {
        return this.$store.state.interface.drawerOpen
      },
      mainMenuItems() {
        return this.$store.state.menu.main.filter((item) => item.enabled)
      },
    },
    methods: {
      ...mapMutations('interface', {
        toggleModal: 'toggleModal',
        toggleDrawer: 'toggleDrawer',
      }),
    },
  }
</script>
