<template>
  <div>
    <client-only>
      <div v-if="results && results.length > 0" class="my-6 p-2 md:p-6">
        <azalea-sprout-heading as="h6" size="large">Recently Viewed</azalea-sprout-heading>
        <azalea-garden-slider :items="results"></azalea-garden-slider>
        <div class="text-right">
          <azalea-sprout-push-button size="xsmall" class="mr-2" @click="clearRecent">
            Clear History
          </azalea-sprout-push-button>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'
  import SearchArtworkCardData from '~/lib/models/SearchArtworkCardData'

  export default {
    computed: {
      results() {
        const artworks = []
        this.$store.state.recent.artworks.forEach((item) => {
          artworks.push(SearchArtworkCardData(item))
        })
        return artworks
      },
    },
    methods: {
      ...mapMutations('recent', {
        clearRecent: 'clearRecent',
      }),
    },
  }
</script>
