<template>
  <section
    class="azalea-canopy w-full p-6 sm:p-8 md:p-12 lg:p-24 xl:p-48 h-auto bg-cover bg-center"
    :style="{
      backgroundImage: `url(${imageSrc})`,
      minHeight: `${minHeight}px`,
    }"
  >
    <div class="mx-auto">
      <slot></slot>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'AzaleaPlantCanopy',
    props: {
      // TODO: replace with an image object so we can add srcset sizes.
      imageSrc: {
        type: String,
        default: '',
      },
      minHeight: {
        type: Number,
        default: 400,
      },
    },
  }
</script>
