<template>
  <div>
    <!-- TODO: Extract this to another component or add a "compact" variant to AzaleaSeedlingDescriptionListItem -->
    <div v-for="(item, index) in descriptionList" :key="index" class="my-2">
      <span class="font-semibold" v-text="item.term"></span>
      <azalea-sprout-link v-if="item.link" :href="item.link">
        <span class="ml-2" v-text="item.description"></span>
      </azalea-sprout-link>
      <span v-else class="ml-2" v-text="item.description"></span>
    </div>
    <!-- Event fields -->
    <div v-if="startDate" class="date my-2 text-base font-semibold leading-6">
      <time v-text="startDate"></time>
      <span v-if="endDate"> &ndash; </span>
      <time v-if="endDate" v-text="endDate"></time>
    </div>
    <time v-if="time" :datetime="dateTime" class="time" v-text="time"></time>
    <azalea-sprout-description-text v-if="description" v-html="description"></azalea-sprout-description-text>
    <div v-if="location" class="location group flex items-center my-2 text-base font-medium">
      <azalea-sprout-icon icon="location-marker" size="small" :class="`mr-2`"></azalea-sprout-icon>
      <span v-text="location"></span>
    </div>
    <!-- Badge -->
    <azalea-sprout-badge v-if="badge" v-bind="{ ...badge }" class="my-2"></azalea-sprout-badge>
  </div>
</template>

<script>
  import AzaleaSproutDescriptionText from '~/components/azalea/sprout/DescriptionText'
  import AzaleaSproutBadge from '~/components/azalea/sprout/Badge'
  export default {
    name: 'AzaleaPlantCardBody',
    components: { AzaleaSproutBadge, AzaleaSproutDescriptionText },
    props: {
      /**
       * Array of objects to populate a compact description list.
       * example:
       * [
       *   {
       *     term: 'Artist',
       *     link: '/artist/nam-june-paik',
       *     description: 'Nam June Paik',
       *   }
       * ]
       */
      descriptionList: {
        type: Array,
        default: () => [],
      },
      /**
       * Component props of a Badge component.
       */
      badge: {
        type: Object,
        default: () => {},
      },
      description: {
        type: String,
        default: '',
      },
      startDate: {
        type: String,
        default: '',
      },
      endDate: {
        type: String,
        default: '',
      },
      time: {
        type: String,
        default: '',
      },
      dateTime: {
        type: String,
        default: '',
      },
      location: {
        type: String,
        default: '',
      },
    },
  }
</script>
