<template>
  <aside class="absolute inset-0 flex items-center justify-center">
    <div
      class="
        z-40
        absolute
        inset-0
        w-full
        h-full
        overflow-visible
        bg-gradient-to-r
        from-tertiary-900
        to-tertiary-500
        opacity-20
      "
    ></div>
    <transition name="slide" :duration="1500">
      <div
        class="
          z-50
          fixed
          top-0
          w-full
          sm:w-3/4
          md:w-1/2
          lg:w-1/3
          xl:w-1/4
          h-full
          overflow-x-scroll overflow-x-hidden
          bg-white
          border-r border-tertiary-200
          shadow-2xl
        "
        :class="side === 'right' ? 'right-0' : 'left-0'"
        @clickaway="close"
      >
        <div class="flex p-2 justify-end">
          <button @click.prevent="close">
            <azalea-sprout-icon icon="x" size="large"></azalea-sprout-icon>
          </button>
        </div>
        <header class="text-xl text-center font-bold pt-4 py-2">
          <slot name="header"></slot>
        </header>
        <nav class="p-4">
          <slot name="nav"></slot>
        </nav>
        <footer class="pt-4">
          <slot name="footer"></slot>
        </footer>
      </div>
    </transition>
  </aside>
</template>

<script>
  // import AzaleaSproutIcon from '@/components/azalea/sprout/Icon'
  export default {
    name: 'AzaleaPlantDrawer',
    // components: { AzaleaSproutIcon },
    props: {
      /**
       * Position the component on the screen
       * @values 'left' or 'right'
       */
      side: {
        type: String,
        default: 'left',
      },
    },
    methods: {
      close() {
        this.$emit('close-drawer')
      },
    },
  }
</script>

<style lang="postcss">
  /* TODO: is this working? */
  .slide-enter-active,
  .slide-leave-active {
    transition: transform 0.2s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s;
  }
</style>
