<template>
  <transition name="modal-fade">
    <div class="azalea-modal flex fixed w-full h-full top-0 left-0">
      <div class="flex fixed w-full h-full pointer-events-none bg-white dark:bg-black dark:text-white"></div>
      <div class="w-full">
        <header class="flex flex-col relative items-end p-4 text-2xl">
          <slot name="header"></slot>
          <button
            class="float-right py-2 px-4 my-4 items-center cursor-pointer no-underline outline-none"
            @click.prevent="$emit('close-modal')"
          >
            <span class="sr-only">Close</span>
            <azalea-sprout-icon icon="x" size="large"></azalea-sprout-icon>
          </button>
        </header>
        <section role="dialog" class="relative h-auto text-left">
          <div class="overflow-y-auto">
            <div class="p-4">
              <slot name="body"></slot>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'

  export default {
    name: 'AzaleaPlantModal',
    components: { AzaleaSproutIcon },
  }
</script>

<style lang="postcss">
  .azalea-modal {
    z-index: 600;
    & header,
    & section {
      z-index: 602;
    }
  }
  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity 0.5s;
  }
  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }
</style>
