<template>
  <form ref="form" @submit.prevent="$emit('submitted', value)">
    <div class="mt-1 relative rounded-md shadow-sm">
      <label for="search-bar" class="block text-sm font-medium text-tertiary-700">
        <span class="sr-only">Search</span>
        <input
          id="search-bar"
          ref="input"
          v-model="computedValue"
          type="text"
          name="q"
          class="
            focus:ring-secondary-500 focus:border-secondary-500
            block
            w-full
            h-16
            px-4
            md:px-10
            text-base
            md:text-xl
            border-tertiary-300
            rounded-md
          "
          :placeholder="placeholder"
          autocomplete="off"
          @keyup="$emit('update:value', value)"
          @focus="$emit('focused', true)"
          @blur="onBlur"
        />
      </label>
      <div class="absolute inset-y-0 right-0 flex items-center text-tertiary-400">
        <azalea-sprout-push-button v-if="value" type="reset" class="mr-3" @click.prevent="reset">
          <azalea-sprout-icon icon="x" size="small"></azalea-sprout-icon>
        </azalea-sprout-push-button>
        <azalea-sprout-push-button variant="label" class="mr-3">
          <azalea-sprout-icon icon="search"></azalea-sprout-icon>
        </azalea-sprout-push-button>
      </div>
    </div>
    <slot></slot>
  </form>
</template>

<script>
  export default {
    name: 'AzaleaPlantSearchBar',
    props: {
      value: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
        default: 'Search for ...',
      },
      initialFocus: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      computedValue: {
        get() {
          return this.value
        },
        set(val) {
          return this.$emit('update:value', val)
        },
      },
    },
    mounted() {
      if (this.initialFocus) {
        this.focus()
      }
    },
    methods: {
      focus() {
        // Create a focus method which can be called from a parent component.
        this.$refs.input.focus()
      },
      reset() {
        this.$emit('update:value', '')
        this.$refs.input.focus()
        this.$emit('reset')
      },
      onBlur(event) {
        // Check related target before emitting blur event to allow click events from child elements.
        if (event.relatedTarget === null) {
          this.$emit('focused', false)
        }
      },
    },
  }
</script>
