<template>
  <div class="grid grid-cols-1 gap-x-4 sm:grid-cols-12">
    <div v-if="$slots['media']" class="col-span-full sm:col-span-2">
      <slot name="media"></slot>
    </div>
    <div :class="[$slots['media'] ? 'sm:col-span-10' : 'col-span-full']">
      <header class="px-4 py-2">
        <slot name="header"></slot>
      </header>
      <div class="px-4">
        <slot name="body"></slot>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaPlantSearchResult',
  }
</script>
