<template>
  <header class="azalea-section-header">
    <div
      class="w-full mx-auto flex flex-col px-4 py-16 md:py-32 md:px-10 lg:px-32 bg-primary-900 text-left"
      :class="{ 'pb-24 lg:pb-56': variant === 'default' && image }"
    >
      <azalea-sprout-heading v-if="headingText" class="text-white xl:max-w-3xl" size="xlarge" weight="semibold">
        {{ headingText }}
      </azalea-sprout-heading>
      <azalea-sprout-body-text v-if="bodyText" size="large" class="mt-6 mb-8 sm:mb-12 xl:max-w-3xl text-white">
        {{ bodyText }}
      </azalea-sprout-body-text>
    </div>
    <azalea-sprout-image
      v-if="image"
      v-bind="{
        ...image,
        class: ['mx-auto mb-12', variant === 'full' ? 'w-full' : 'w-5/6 -mt-20 lg:-mt-40 rounded-lg shadow-md'].join(
          ' '
        ),
      }"
    >
    </azalea-sprout-image>
  </header>
</template>

<script>
  export default {
    name: 'AzaleaPlantSectionHeader',
    props: {
      // An object of image props used to populate an AzaleaSproutImage component.
      image: {
        type: Object,
        default: () => {},
      },
      variant: {
        type: String,
        default: 'default',
      },
      headingText: {
        type: String,
        default: '',
      },
      bodyText: {
        type: String,
        default: '',
      },
    },
  }
</script>
