/**
 * Custom css properties for the Plyr media player.
 * see: https://github.com/sampotts/plyr#customizing-the-css
 */
:root {
  /**
   * Azalea theme
   */
  --azalea-player-color-main: rgba(99, 102, 241, 1); /** Secondary 500 color */
  --azalea-player-contorl-color-darkest: rgba(17, 24, 39, 1); /** Tertiary 800 color */
  --azalea-player-contorl-color-dark: rgba(75, 85, 99, 1); /** Tertiary 600 color */
  --azalea-player-contorl-color-light: rgba(156, 163, 175, 1); /** Tertiary 400 color */
  --azalea-player-contorl-color-lightest: rgba(229, 231, 235, 1); /** Tertiary 200 color */
  --azalea-player-control-icon-size: 26px;

  /**
   * Plyr defaults/overrides.
   */
  /**
   * The primary UI color.
   */
  --plyr-color-main: var(--azalea-player-color-main);
  /**
   * The background color of video and poster wrappers for using alpha channel videos and poster images.
   */
  --plyr-video-background: rgba(255, 255, 255, var(--azalea-player-opacity)); /** White **/
  /**
   * The color used for the dotted outline when an element is :focus-visible (equivalent) keyboard focus.
   */
  --plyr-tab-focus-color: var(--plyr-color-main);
  /**
   * The background color for badges in the menu.
   */
  --plyr-badge-background: var(--azalea-player-contorl-color-dark);
  /**
   * The text color for badges.
   */
  --plyr-badge-text-color: #FFFFFF;
  /**
   * The border radius used for badges.
   */
  --plyr-badge-border-radius:  2px;
  /**
   * The color for the background of captions.
   */
  --plyr-captions-background: rgba(0, 0, 0, 0.8);
  /**
   * The color used for the captions text.
   */
  --plyr-captions-text-color: #FFFFFF;
  /**
   * The size of the icons used in the controls.
   */
  --plyr-control-icon-size: var(--azalea-player-control-icon-size);
  /**
   * The space between controls (sometimes used in a multiple - e.g. `10px / 2 = 5px`).
   */
  --plyr-control-spacing: 10px;
/**
 * The padding inside controls.
 * Default: --plyr-control-spacing * 0.7
 */
  --plyr-control-padding: 12px;
/**
 * The border radius used on controls.
 */
  --plyr-control-radius: 6px;
/**
 * The background color used for checked menu items.
 */
  --plyr-control-toggle-checked-background: var(--plyr-color-main);
/**
 * The background for the video controls.
 */
  --plyr-video-controls-background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
/**
 * The text/icon color for video controls.
 */
  --plyr-video-control-color: #FFFFFF;
/**
 * The text/icon color used when video controls are `:hover`, `:focus` and `:focus-visible` (equivalent).
 */
  --plyr-video-control-color-hover: #FFFFFF;
/**
 * The background color used when video controls are `:hover`, `:focus` and `:focus-visible` (equivalent).
 */
  --plyr-video-control-background-hover: var(--plyr-color-main);
/**
 * The background for the audio controls.
 */
  --plyr-audio-controls-background: #FFFFFF;
/**
 * The text/icon color for audio controls.
 */
  --plyr-audio-control-color: var(--azalea-player-contorl-color-dark);
/**
 * The text/icon color used when audio controls are `:hover`, `:focus` and `:focus-visible` (equivalent).
 */
  --plyr-audio-control-color-hover: #FFFFFF;
/**
 * The background color used when video controls are `:hover`, `:focus` and `:focus-visible` (equivalent).
 */
  --plyr-audio-control-background-hover: var(--plyr-color-main);
/**
 * The background color for menus.
 */
  --plyr-menu-background: rgba(255, 255, 255, 0.9);
/**
 * The text/icon color for menu items.
 */
  --plyr-menu-color: var(--azalea-player-contorl-color-dark);
/**
 * The shadow used on menus.
 */
  --plyr-menu-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
/**
 * The border radius on the menu.
 */
  --plyr-menu-radius: 4px;
/**
 * The size of the arrow on the bottom of the menu.
 */
  --plyr-menu-arrow-size: 6px;
/**
 * The color of the arrows in the menu.
 */
  --plyr-menu-item-arrow-color: var(--azalea-player-contorl-color-light);
  /**
   * The size of the arrows in the menu.
   */
  --plyr-menu-item-arrow-size: 4px;
/**
 * The border color for the bottom of the back button in the top of the sub menu pages.
 */
  --plyr-menu-border-color: #dcdfe5;
/**
 * The shadow below the border of the back button in the top of the sub menu pages.
 */
  --plyr-menu-border-shadow-color: #FFFFFF;
/**
 * The size of the stripes in the loading state in the scrubber.
 */
  --plyr-progress-loading-size: 12px;
/**
 * The background color on the loading state in the scrubber.
 */
  --plyr-progress-loading-background: var(--azalea-player-contorl-color-dark);
/**
 * The fill color for the buffer indication in the scrubber for video.
 */
  --plyr-video-progress-buffered-background: var(--azalea-player-contorl-color-light);
/**
 * The fill color for the buffer indication in the scrubber for audio.
 */
  --plyr-audio-progress-buffered-background: var(--azalea-player-contorl-color-light);
/**
 * The height of the scrubber handle/thumb.
 */
  --plyr-range-thumb-height: 20px;
/**
 * The background of the scrubber handle/thumb.
 */
  --plyr-range-thumb-background: var(--azalea-player-contorl-color-lightest);
/**
 * The shadow of the scrubber handle/thumb.
 */
  --plyr-range-thumb-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.2);
/**
 * The width of the shadow when the scrubber handle/thumb is `:active` (pressed).
 */
  --plyr-range-thumb-active-shadow-width: 3px;
/**
 * The height of the scrubber/progress track.
 */
  --plyr-range-track-height: 10px;
/**
 * The fill color of the scrubber/progress.
 */
  --plyr-range-fill-background: var(--plyr-color-main);
/**
 * The background of the scrubber/progress.
 */
  --plyr-video-range-track-background: var(--plyr-video-progress-buffered-background);
/**
 * The color of the shadow when the video scrubber handle/thumb is `:active` (pressed).
 */
  --plyr-video-range-thumb-active-shadow-color: rgba(255, 255, 255, 0.5);
/**
 * The background of the scrubber/progress.
 */
  --plyr-audio-range-track-background: var(--plyr-video-progress-buffered-background);
/**
 * The color of the shadow when the audio scrubber handle/thumb is `:active` (pressed).
 */
  --plyr-audio-range-thumb-active-shadow-color: rgba(0, 0, 0, 0.1);
/**
 * The background color for tooltips.
 */
  --plyr-tooltip-background: rgba(255, 255, 255, 0.9);
/**
 * The text color for tooltips.
 */
  --plyr-tooltip-color: var(--azalea-player-contorl-color-dark);
/**
 * The padding for tooltips.
 */
  --plyr-tooltip-padding: calc(var(--plyr-control-spacing) / 2);
/**
 * The size of the arrow under tooltips.
 */
  --plyr-tooltip-arrow-size: 4px;
/**
 * The border radius on tooltips.
 */
  --plyr-tooltip-radius: 3px;
/**
 * The shadow on tooltips.
 */
  --plyr-tooltip-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
/**
 * The font family used in the player.
 */
  --plyr-font-family: 'inherit';
/**
 * The base font size. Mainly used for captions.
 */
  --plyr-font-size-base: 15px;
/**
 * The smaller font size. Mainly used for captions.
 */
  --plyr-font-size-small: 13px;
/**
 * The larger font size. Mainly used for captions.
 */
  --plyr-font-size-large: 18px;
/**
 * The even larger font size. Mainly used for captions.
 */
  --plyr-font-size-xlarge: 21px;
/**
 * The font size for the time.
 */
  --plyr-font-size-time: var(--plyr-font-size-small);
/**
 * The font size used in the menu.
 */
  --plyr-font-size-menu: var(--plyr-font-size-small);
/**
 * The font size used for badges.
 */
  --plyr-font-size-badge: 9px;
/**
 * The regular font weight.
 */
  --plyr-font-weight-regular: 400;
/**
 * The bold font weight.
 */
  --plyr-font-weight-bold: 600;
  /**
   * The line height used within the player.
   */
  --plyr-line-height: 1.7;
/**
 * Whether to enable font antialiasing within the player.
 */
  --plyr-font-smoothing: false;
}
/**
 * Responsive styles.
 */
.plyr {
  & .plyr__controls__item {
    &.plyr__volume {
      @apply w-full;
    }
    &.plyr__progress__container, &.plyr__time, &.plyr__menu {
      @apply hidden md:block;
    }
  }
}
