<template>
  <div>
    <azalea-sprout-container class="p-4 md:p-6">
      <azalea-sprout-heading size="xlarge" as="h1" class="my-6 ml-2">Search Artists</azalea-sprout-heading>
    </azalea-sprout-container>
    <azalea-sprout-container class="p-4 md:p-6">
      <app-search-form
        :show-suggestions="false"
        form-action="/search/artists"
        :initial-value="search.phrase"
      ></app-search-form>
      <app-search-tabs :type="search.type" :aggregations="search.aggregations" :hits="search.hits"></app-search-tabs>
      <app-search-results-feedback
        :results="search.results.length > 0"
        :loading="loading"
        :phrase="search.phrase"
      ></app-search-results-feedback>
    </azalea-sprout-container>
    <div class="flex">
      <layout-side-bar v-if="!loading">
        <template #header>
          <azalea-sprout-heading size="small" :level="6">Filters</azalea-sprout-heading>
        </template>
        <template #body>
          <azalea-sprout-flexible-box direction="col" class="space-y-6">
            <azalea-seedling-dropdown label="Gender" :block="true">
              <ul class="h-64 overflow-y-scroll">
                <li
                  v-for="(option, index) in genders"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'gender', value: option })"
                  @keydown="addFacet({ name: 'gender', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Ethnicity" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in ethnicities"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'ethnicities', value: option })"
                  @keydown="addFacet({ name: 'ethnicities', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Nationality" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in nationalities"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'nationalities', value: option })"
                  @keydown="addFacet({ name: 'nationalities', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Occupation" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in occupations"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'occupations', value: option })"
                  @keydown="addFacet({ name: 'occupations', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Group" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in groups"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'groups', value: option })"
                  @keydown="addFacet({ name: 'groups', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Place" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in places"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'places', value: option })"
                  @keydown="addFacet({ name: 'places', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
          </azalea-sprout-flexible-box>
        </template>
      </layout-side-bar>
      <main class="flex-1 relative overflow-y-auto focus:outline-none">
        <ul v-show="facets.length > 0" class="flex inline-flex w-full pb-4 mb-2 items-center border-b border-gray-200">
          <li v-for="(facet, index) in facets" :key="index">
            <app-element-facet-button :facet="facet" @remove-facet="removeFacet"></app-element-facet-button>
          </li>
        </ul>
        <app-search-results layout="list" :results="search.results" :max-score="search.maxScore"></app-search-results>
      </main>
    </div>
  </div>
</template>

<script>
  import ethnicities from '~/assets/data/categories/ethnicities.json'
  import genders from '~/assets/data/categories/genders.json'
  import groups from '~/assets/data/categories/groups.json'
  import nationalities from '~/assets/data/categories/nationalities.json'
  import occupations from '~/assets/data/categories/occupations.json'
  import places from '~/assets/data/categories/places.json'

  export default {
    name: 'SearchArtistsPage',
    data() {
      return {
        // TODO: Retrieve dynamic categories data from API.
        ethnicities,
        facets: [],
        genders,
        groups,
        loading: false,
        nationalities,
        occupations,
        places,
      }
    },
    computed: {
      search() {
        return this.$store.state.search ?? {}
      },
      query() {
        return this.$store.state.route.query
      },
    },
    watch: {
      query: {
        deep: true,
        immediate: true,
        handler() {
          console.log('watched a query change')
          this.$search.execute().finally(() => {
            this.loading = false
          })
        },
      },
      facets(newFacets, oldFacets) {
        const params = new URLSearchParams()
        params.append('type', 'creator')
        if (this.query.q) {
          params.append('q', this.query.q)
        }
        newFacets.forEach((item) => {
          // Add brackets to query names that allow multiple values.
          const propName = `${item.name}[]`
          params.append(propName, item.value)
        })
        this.$router.push(this.$route.path + '?' + params.toString())
      },
    },
    methods: {
      async execute() {
        console.log('executed')
        this.loading = true
        // Get search results.
        await this.$store.dispatch('search/getResults')
      },
      addFacet(obj) {
        if (
          !this.facets.find(
            (element) => element.name === obj.name && element.value === obj.value && obj.value !== false
          )
        ) {
          this.facets.push(obj)
        }
      },
      removeFacet(obj) {
        for (let i = 0; i < this.facets.length; i++) {
          if (this.facets[i].name === obj.name && this.facets[i].value === obj.value) {
            // Remove the facet with matching name/value.
            this.facets.splice(i, 1)
            break
          }
        }
      },
    },
  }
</script>
