<template>
  <div>
    <azalea-sprout-container class="p-4 md:p-6">
      <azalea-sprout-heading size="xlarge" as="h1" class="my-6 ml-2">Search Artworks</azalea-sprout-heading>
    </azalea-sprout-container>
    <azalea-sprout-container as="section">
      <app-search-form
        :show-suggestions="false"
        form-action="/search/artworks"
        :initial-value="search.phrase"
      ></app-search-form>
      <app-search-tabs :type="search.type" :aggregations="search.aggregations" :hits="search.hits"></app-search-tabs>
      <app-search-results-feedback
        :results="search.results.length > 0"
        :loading="loading"
        :phrase="search.phrase"
      ></app-search-results-feedback>
    </azalea-sprout-container>
    <div class="flex">
      <layout-side-bar v-if="!loading">
        <template #header>
          <azalea-sprout-heading size="small" :level="6">Filters</azalea-sprout-heading>
        </template>
        <template #body>
          <azalea-sprout-flexible-box direction="col" class="space-y-6">
            <!-- TODO: Move to a "checkbox" component -->
            <div class="w-full mx-4">
              <label id="on-view-filter-label" for="on-view-filter">
                <input
                  id="on-view-filter"
                  v-model="checkboxes.onView"
                  type="checkbox"
                  name="on_view"
                  :checked="checkboxes.onView"
                  @click="handleCheckbox({ label: 'On View', name: 'on_view', value: $event.target.checked })"
                />
                <span class="ml-2 mr-4">On View</span>
              </label>
            </div>
            <div class="w-full mx-4">
              <label id="open-access-filter-label" for="open-access-filter">
                <input
                  id="open-access-filter"
                  v-model="checkboxes.openAccess"
                  type="checkbox"
                  name="open_access"
                  :checked="checkboxes.openAccess"
                  @click="handleCheckbox({ label: 'Open Access', name: 'open_access', value: $event.target.checked })"
                />
                <span class="ml-2 mr-4">Open Access</span>
              </label>
            </div>
            <azalea-seedling-dropdown label="Location" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in locations"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'location', value: option })"
                  @keydown="addFacet({ name: 'location', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Classifications" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in classifications"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'classifications', value: option })"
                  @keydown="addFacet({ name: 'classifications', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Mediums" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in mediums"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'mediums', value: option })"
                  @keydown="addFacet({ name: 'mediums', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <azalea-seedling-dropdown label="Period" :block="true">
              <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">
                <li
                  v-for="(option, index) in periods"
                  :key="index"
                  class="cursor-pointer p-2 hover:bg-gray-200"
                  @click="addFacet({ name: 'periods', value: option })"
                  @keydown="addFacet({ name: 'periods', value: option })"
                >
                  {{ option }}
                </li>
              </ul>
            </azalea-seedling-dropdown>
            <!-- TODO: Move to a "color picker" component -->
            <azalea-seedling-dropdown label="Color" :block="true">
              <div class="h-64 px-4 overflow-y-auto azalea-scrollbar-hidden">
                <div class="flex flex-wrap">
                  <div
                    v-for="color in colors"
                    :key="color.hex"
                    class="w-6 h-6 m-px cursor-pointer"
                    :style="`background-color: ${color.hex}`"
                    @click="addFacet({ name: 'colors', value: color.label, hex: color.hex })"
                    @keydown="addFacet({ name: 'colors', value: color.label, hex: color.hex })"
                  >
                    <span class="sr-only">{{ color.label }}</span>
                  </div>
                </div>
              </div>
            </azalea-seedling-dropdown>
          </azalea-sprout-flexible-box>
        </template>
      </layout-side-bar>
      <azalea-sprout-container as="main" class="flex-1 relative overflow-y-auto focus:outline-none">
        <ul v-show="facets.length > 0" class="flex inline-flex w-full pb-4 mb-2 items-center">
          <li v-for="(facet, index) in facets" :key="index">
            <app-element-facet-button :facet="facet" @remove-facet="removeFacet"></app-element-facet-button>
          </li>
        </ul>
        <app-search-results layout="grid" :results="artworks" :max-score="search.maxScore"></app-search-results>
      </azalea-sprout-container>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import SearchArtworkCardData from '~/lib/models/SearchArtworkCardData'
  import classifications from '~/assets/data/categories/classifications.json'
  import colors from '~/assets/data/categories/colors.json'
  import mediums from '~/assets/data/categories/mediums.json'
  import periods from '~/assets/data/categories/periods.json'
  import locations from '~/assets/data/categories/locations.json'

  export default {
    name: 'SearchArtworksPage',
    data() {
      return {
        // TODO: Retrieve dynamic categories data from API.
        checkboxes: {
          onView: false,
          openAccess: false,
        },
        classifications,
        colorDropdownOpen: false,
        colors,
        facets: [],
        loading: false,
        locations,
        mediums,
        periods,
      }
    },
    computed: {
      search() {
        return this.$store.state.search ?? {}
      },
      query() {
        return this.$store.state.route.query
      },
      artworks() {
        const artworks = []
        this.search.results.forEach((item) => {
          artworks.push(SearchArtworkCardData(item))
        })
        return artworks
      },
    },
    watch: {
      query: {
        deep: true,
        immediate: true,
        handler() {
          console.log('watched a query change')
          this.$search.execute().finally(() => {
            this.loading = false
          })
        },
      },
      facets(newFacets, oldFacets) {
        const params = new URLSearchParams()
        params.append('type', 'artwork')
        if (this.query.q) {
          params.append('q', this.query.q)
        }
        newFacets.forEach((item) => {
          const singleFacets = ['on_view', 'open_access']
          if (singleFacets.includes(item.name)) {
            if (item.value === true) {
              params.append(item.name, 'true')
            }
          } else {
            // Add brackets to query names that allow multiple values.
            const propName = `${item.name}[]`
            params.append(propName, item.value)
          }
        })
        this.$router.push(this.$route.path + '?' + params.toString())
      },
    },
    methods: {
      async execute() {
        console.log('executed')
        this.loading = true
        // Get search results.
        await this.$store.dispatch('search/getResults')
      },
      addFacet(obj) {
        if (
          !this.facets.find(
            (element) => element.name === obj.name && element.value === obj.value && obj.value !== false
          )
        ) {
          this.facets.push(obj)
        }
      },
      removeFacet(obj) {
        for (let i = 0; i < this.facets.length; i++) {
          if (this.facets[i].name === obj.name) {
            if (this.facets[i].name === 'on_view' || this.facets[i].name === 'open_access') {
              // Toggle checkbox facet.
              this.checkboxes[_.camelCase(this.facets[i].name)] = !this.checkboxes[_.camelCase(this.facets[i].name)]
              this.facets.splice(i, 1)
              break
            }
            if (this.facets[i].value === obj.value) {
              // Remove the facet with matching name/value.
              this.facets.splice(i, 1)
              break
            }
          }
        }
      },
      handleCheckbox(obj) {
        if (obj.value === false) {
          obj.value = true
          this.removeFacet(obj)
        } else {
          this.addFacet(obj)
        }
      },
    },
  }
</script>
