<template>
  <div>
    <azalea-sprout-container class="p-4 md:p-6">
      <azalea-sprout-heading size="xlarge" as="h1" class="my-6 ml-2">Search</azalea-sprout-heading>
      <azalea-sprout-description-text type="lead">
        Search for Artworks, Artists, Events, and Information
      </azalea-sprout-description-text>
    </azalea-sprout-container>
    <azalea-sprout-container as="section">
      <app-search-form :show-suggestions="false" form-action="/search" :initial-value="search.phrase"></app-search-form>
      <app-search-tabs :type="search.type" :aggregations="search.aggregations" :hits="search.hits"></app-search-tabs>
      <app-search-results-feedback
        :results="search.results.length > 0"
        :loading="loading"
        :phrase="search.phrase"
      ></app-search-results-feedback>
    </azalea-sprout-container>
    <azalea-sprout-container as="main">
      <app-search-results layout="list" :results="search.results" :max-score="search.maxScore"></app-search-results>
    </azalea-sprout-container>
  </div>
</template>

<script>
  import AzaleaSproutContainer from '~/components/azalea/sprout/Container'
  export default {
    name: 'SearchPage',
    components: { AzaleaSproutContainer },
    data() {
      return {
        loading: false,
      }
    },
    computed: {
      search() {
        return this.$store.state.search ?? {}
      },
      query() {
        return this.$store.state.route.query
      },
    },
    watch: {
      query: {
        deep: true,
        immediate: true,
        handler() {
          console.log('watched a query change')
          this.$search.execute().finally(() => {
            this.loading = false
          })
        },
      },
    },
    methods: {
      async execute() {
        console.log('in execute')
        this.loading = true
        // Get search results.
        await this.$store.dispatch('search/getResults')
      },
    },
  }
</script>
