<template>
  <div>
    <azalea-plant-section-header heading-text="Discover Artists"> </azalea-plant-section-header>
    <client-only>
      <lazy-app-artist-map @map-selected="selected($event)"></lazy-app-artist-map>
    </client-only>
    <hr />
    <div v-if="selection">
      <span
        >Artists associated with <em>{{ selection }}</em></span
      >
    </div>
    <ul
      v-for="result in results"
      :key="result.metadata.uuid"
      class="mt-4 px-4 border-b border-gray-light hover:shadow-2xl"
    >
      <li>
        <a :href="result.metadata.path">{{ result.title }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'ArtistPage',
    data() {
      return {
        selection: '',
        results: [],
        isLoading: false,
        offset: 0,
        size: 20,
      }
    },
    computed: {
      queryParams() {
        return {
          places: this.selection,
          offset: this.offset,
          size: this.size,
        }
      },
    },
    watch: {
      selection() {
        this.getResults()
      },
    },
    methods: {
      selected(name) {
        // Set the selected U.S. State.
        this.selection = name
      },
      getResults() {
        this.isLoading = true
        this.results = []

        return this.$axios.get('/services/filter/artists', { params: this.queryParams }).then((response) => {
          // console.log(response.config);
          console.log(response)
          if (response.status === 200 && response.data !== undefined && response.data.hits.total.value > 0) {
            const items = []
            console.log(response.data)
            response.data.hits.hits.forEach((hit) => {
              // Results consist of the Elasticsearch document's "score" and "source".
              const item = hit._source
              item.score = hit._score
              items.push(item)
            })
            // const results = Object.values(items)
            // Append to (possibly existing) results.
            // for (const i in results) {
            // TODO: The elasticsearch plugin was remove.
            // const constituent = this.$elasticsearch.getConstituent(results[i])
            // this.results.push(constituent)
            // }
          }
          // eslint-disable-next-line no-console
          // console.log(this.results)
          this.isLoading = false
        })
      },
    },
  }
</script>
