<template>
  <div>
    <azalea-plant-section-header heading-text="Discover Artworks"> </azalea-plant-section-header>
    <azalea-sprout-container as="main">
      <p class="text-xl md:text-3xl">
        <azalea-sprout-link href="/search/artworks">Search for artworks</azalea-sprout-link> until we figure out what
        should be on this page.
      </p>
      <!--      <azalea-sprout-flexible-box>-->
      <!--        <azalea-seedling-dropdown label="Type" class="flex-1" :block="true">-->
      <!--          <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">-->
      <!--            <li-->
      <!--              v-for="(option, index) in classifications"-->
      <!--              :key="index"-->
      <!--              class="cursor-pointer p-2 hover:bg-gray-200"-->
      <!--              @click="addFacet({ name: 'classifications', value: option })"-->
      <!--              @keydown="addFacet({ name: 'classifications', value: option })"-->
      <!--            >-->
      <!--              {{ option }}-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </azalea-seedling-dropdown>-->
      <!--        <azalea-seedling-dropdown label="Mediums" class="flex-1" :block="true">-->
      <!--          <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">-->
      <!--            <li-->
      <!--              v-for="(option, index) in mediums"-->
      <!--              :key="index"-->
      <!--              class="cursor-pointer p-2 hover:bg-gray-200"-->
      <!--              @click="addFacet({ name: 'mediums', value: option })"-->
      <!--              @keydown="addFacet({ name: 'mediums', value: option })"-->
      <!--            >-->
      <!--              {{ option }}-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </azalea-seedling-dropdown>-->
      <!--        <azalea-seedling-dropdown label="Period" class="flex-1" :block="true">-->
      <!--          <ul class="h-64 p-0 overflow-y-auto azalea-scrollbar-hidden">-->
      <!--            <li-->
      <!--              v-for="(option, index) in periods"-->
      <!--              :key="index"-->
      <!--              class="cursor-pointer p-2 hover:bg-gray-200"-->
      <!--              @click="addFacet({ name: 'periods', value: option })"-->
      <!--              @keydown="addFacet({ name: 'periods', value: option })"-->
      <!--            >-->
      <!--              {{ option }}-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </azalea-seedling-dropdown>-->
      <!--        &lt;!&ndash; TODO: Move to a "color picker" component &ndash;&gt;-->
      <!--        <azalea-seedling-dropdown label="Color" class="flex-1" :block="true">-->
      <!--          <div class="h-64 px-4 overflow-y-auto azalea-scrollbar-hidden">-->
      <!--            <div class="flex flex-wrap">-->
      <!--              <div-->
      <!--                v-for="color in colors"-->
      <!--                :key="color.hex"-->
      <!--                class="w-6 h-6 m-px cursor-pointer"-->
      <!--                :style="`background-color: ${color.hex}`"-->
      <!--                @click="addFacet({ name: 'colors', value: color.label, hex: color.hex })"-->
      <!--                @keydown="addFacet({ name: 'colors', value: color.label, hex: color.hex })"-->
      <!--              >-->
      <!--                <span class="sr-only">{{ color.label }}</span>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </azalea-seedling-dropdown>-->
      <!--      </azalea-sprout-flexible-box>-->

      <!--      <azalea-sprout-flexible-box direction="col" class="space-y-6">-->
      <!--        <ul v-show="facets.length > 0" class="flex inline-flex space-x-6 items-center overflow-y-auto">-->
      <!--          <li v-for="(facet, index) in facets" :key="index">-->
      <!--            <app-element-facet-button :facet="facet" @remove-facet="removeFacet"></app-element-facet-button>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--        <div class="flex w-full justify-center items-center py-6">-->
      <!--          <azalea-sprout-tag-->
      <!--            v-if="!isLoading"-->
      <!--            :text="`Viewing ${facets.length === 0 ? 'all' : hits} artworks.`"-->
      <!--          ></azalea-sprout-tag>-->
      <!--          <azalea-sprout-spinner v-else :loading="isLoading" size="large"></azalea-sprout-spinner>-->
      <!--        </div>-->
      <!--      </azalea-sprout-flexible-box>-->
      <!--      <azalea-sprout-container as="main" class="results h-full">-->
      <!--        <azalea-garden-wall :items="results"> </azalea-garden-wall>-->
      <!--        <app-load-more-->
      <!--          v-if="results.length < hits"-->
      <!--          :is-loading="isLoading"-->
      <!--          class="my-4 md:my-6"-->
      <!--          @click="loadMore"-->
      <!--        ></app-load-more>-->
      <!--      </azalea-sprout-container>-->
    </azalea-sprout-container>
  </div>
</template>

<script>
  // import classifications from '~/assets/data/categories/classifications.json'
  // import colors from '~/assets/data/categories/colors.json'
  // import mediums from '~/assets/data/categories/mediums.json'
  // import periods from '~/assets/data/categories/periods.json'

  export default {
    name: 'ArtworksPage',
    //   data() {
    //     return {
    //       // TODO: Retrieve dynamic categories data from API.
    //       classifications,
    //       colors,
    //       mediums,
    //       periods,
    //       colorDropdownOpen: false,
    //       facets: [],
    //       results: [],
    //       isLoading: false,
    //       hits: 0,
    //       size: 20,
    //       defaultSize: 20,
    //       offset: 0,
    //     }
    //   },
    //   head() {
    //     return {
    //       title: 'Browse Artworks',
    //       meta: [
    //         {
    //           hid: 'description',
    //           name: 'description',
    //           content: 'Browse artworks by type, category, and color! ',
    //         },
    //       ],
    //     }
    //   },
    //   computed: {
    //     endpoint() {
    //       let query = ''
    //       const filters = []
    //       this.facets.forEach(function (item) {
    //         // Query params for filters are set as repeat arrays. For example "colors[]=red&colors[]=blue"
    //         // TODO: Add as Axios "params" object.
    //         // @see: https://stackoverflow.com/a/46153494/1353811
    //         let filter = encodeURIComponent(item.name) + '[]'
    //         filter = filter + '=' + encodeURIComponent(item.value)
    //         filters.push(filter)
    //       })
    //       if (filters.length > 0) {
    //         query = filters.join('&')
    //       }
    //       query += '&size=' + this.size + '&offset=' + this.offset
    //       return '/services/filter/artworks?' + query
    //     },
    //   },
    //   watch: {
    //     endpoint() {
    //       this.getResults()
    //     },
    //   },
    //   mounted() {
    //     this.getResults()
    //   },
    //   methods: {
    //     addFacet(obj) {
    //       this.reset()
    //       if (!this.facets.find((element) => element.name === obj.name && element.value === obj.value)) {
    //         this.facets.push(obj)
    //       }
    //     },
    //     removeFacet(obj) {
    //       this.reset()
    //       for (let i = 0; i < this.facets.length; i++) {
    //         if (this.facets[i].name === obj.name && this.facets[i].value === obj.value) {
    //           this.facets.splice(i, 1)
    //           break
    //         }
    //       }
    //     },
    //     getResults() {
    //       this.isLoading = true
    //       this.hits = 0
    //       // eslint-disable-next-line no-console
    //       // console.log(this.endpoint)
    //       return this.$axios.get(this.endpoint).then((res) => {
    //         if (res.status === 200 && res.data !== undefined && res.data.hits.total.value > 0) {
    //           this.hits = res.data.hits.total.value
    //           this.shown += this.size
    //           const items = res.data.hits.hits.map((hit) => hit._source)
    //           const results = Object.values(items)
    //           // Append to (possibly existing) results.
    //           for (const i in results) {
    //             const artwork = {
    //               component: 'AzaleaPlantArtworkCard',
    //               props: {
    //                 title: results[i].title || '',
    //                 link: results[i].path || '',
    //                 onView: results[i].isOnView === 'true' || false,
    //                 hoverEffect: true,
    //               },
    //             }
    //             if (results[i].creators !== undefined && results[i].creators.length > 0) {
    //               artwork.props.artistName = results[i].creators[0].name
    //             }
    //             if (results[i].image) {
    //               artwork.props.image = {
    //                 src: results[i].image.sizes.small,
    //                 alt: results[i].image.alt,
    //               }
    //               artwork.props.body = results[i].image.caption
    //             }
    //             this.results.push(artwork)
    //           }
    //         }
    //         this.isLoading = false
    //       })
    //     },
    //     hasProperty(obj, propName) {
    //       return Object.prototype.hasOwnProperty.call(obj, propName)
    //     },
    //     reset() {
    //       this.size = this.defaultSize
    //       this.offset = 0
    //       this.results = []
    //     },
    //     loadMore() {
    //       this.offset += this.size
    //     },
    //   },
  }
</script>
