<template>
  <div>
    <azalea-plant-section-header heading-text="Collection Data"> </azalea-plant-section-header>
    <azalea-sprout-container as="section">
      <azalea-sprout-heading v-if="numCreators" size="large" as="h2" class="mb-4">
        Total number of Artists: <span class="text-gray-500" v-text="numberFormat(numCreators)"></span>
      </azalea-sprout-heading>
      <div class="flex">
        <div class="w-1/4 p-4 bg-gray-50 rounded-sm shadow-inner">
          <app-chart-pie :chart-data="genderData"></app-chart-pie>
        </div>
        <div class="w-3/4 p-4 bg-gray-100 rounded-sm shadow-inner">
          <app-chart-line :chart-data="placesData"></app-chart-line>
        </div>
      </div>
    </azalea-sprout-container>
    <azalea-sprout-container as="section">
      <azalea-sprout-heading v-if="numArtworks" size="large" as="h2" class="mb-4">
        Total number of Artworks: <span class="text-gray-500" v-text="numberFormat(numArtworks)"></span>
      </azalea-sprout-heading>
      <div class="flex">
        <div class="flex-1 p-4 bg-gray-100 rounded-sm shadow-inner">
          <app-chart-bar :chart-data="classificationsData"></app-chart-bar>
        </div>
      </div>
    </azalea-sprout-container>
  </div>
</template>

<script>
  import Strings from '../../lib/utils/Strings'

  export default {
    name: 'ArtDataPage',
    data() {
      return {
        numArtworks: null,
        numCreators: null,
        numArtworksOnView: null,
        numArtworksOpenAccess: null,
        classificationsData: {
          labels: [],
          datasets: [],
        },
        genderData: {},
        placesData: { labels: [], datasets: [] },
        defaultBarStyles: {
          backgroundColor: '#c6c7c9',
          hoverBackgroundColor: '#99d7f2',
          borderColor: '#444648',
          hoverBorderColor: '#004c6d',
          borderWidth: 1,
        },
      }
    },
    async fetch() {
      // Get the Elasticsearch aggregations data.
      const { data } = await this.$axios.get('/services/data')
      // eslint-disable-next-line no-console
      // console.log(data.aggregations)
      // Get the total numbers.
      this.numCreators = data.aggregations.creator.doc_count
      this.numArtworks = data.aggregations.artwork.doc_count
      data.aggregations.artwork.is_on_view.buckets.forEach((bucket) => {
        if (bucket.key_as_string === 'true') {
          this.numArtworksOnView = bucket.doc_count
        }
      })
      data.aggregations.artwork.is_open_access.buckets.forEach((bucket) => {
        if (bucket.key_as_string === 'true') {
          this.numArtworksOpenAccess = bucket.doc_count
        }
      })
      // Populate data "Artist by gender" pie chart.
      this.genderData = { labels: [], datasets: [] }
      let dataset = { label: 'Percentage of artists by Gender', data: [], ...this.defaultBarStyles }
      dataset.backgroundColor = ['#9c9ea1', '#66686c']
      data.aggregations.creator.gender.buckets.forEach((gender) => {
        this.genderData.labels.push(gender.key)
        dataset.data.push(gender.doc_count)
      })
      this.genderData.datasets.push(dataset)
      // Populate data for "Artist by State" bar chart.
      this.placesData = { labels: [], datasets: [] }
      dataset = { label: 'Number of artists', data: [], fill: true, ...this.defaultBarStyles }
      data.aggregations.creator.places.buckets.forEach((place) => {
        this.placesData.labels.push(place.key)
        dataset.data.push(place.doc_count)
      })
      this.placesData.datasets.push(dataset)
      // Populate data for "Artworks by classification" bar chart.
      this.classificationsData = { labels: [], datasets: [] }
      dataset = { label: 'Total artworks', data: [], fill: true, ...this.defaultBarStyles }
      const onViewDataset = {
        label: 'On view artworks',
        data: [],
        fill: true,
        backgroundColor: '#717478',
        hoverBackgroundColor: '#99d7f2',
        borderColor: '#444648',
        hoverBorderColor: '#004c6d',
        borderWidth: 1,
      }
      const openAccessDataset = {
        label: 'Open access artworks',
        data: [],
        fill: true,
        backgroundColor: '#55575a',
        hoverBackgroundColor: '#99d7f2',
        borderColor: '#444648',
        hoverBorderColor: '#004c6d',
        borderWidth: 1,
      }
      data.aggregations.artwork.classifications.buckets.forEach((classification) => {
        this.classificationsData.labels.push(classification.key)
        dataset.data.push(classification.doc_count)
        classification.is_on_view.buckets.forEach((bucket) => {
          if (bucket.key_as_string === 'true') {
            onViewDataset.data.push(bucket.doc_count)
          }
        })
        classification.is_open_access.buckets.forEach((bucket) => {
          if (bucket.key_as_string === 'true') {
            openAccessDataset.data.push(bucket.doc_count)
          }
        })
      })
      this.classificationsData.datasets.push(dataset, onViewDataset, openAccessDataset)
    },
    head() {
      return {
        title: 'Collection Data',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Information and statistics about the collection.',
          },
        ],
      }
    },
    methods: {
      numberFormat(num) {
        return Strings.numberFormat(num)
      },
    },
  }
</script>
