<template>
  <div>
    <azalea-plant-section-header
      heading-text="Art + Artists"
      body-text="Discover the nation's first collection of American art and one of the world's largest and most inclusive collections of art made in the United States, is an unparalleled record of the American experience."
    >
    </azalea-plant-section-header>
    <azalea-sprout-grid template="3" class="my-4 md:my-6 px-2">
      <azalea-plant-card
        title="Browse Artworks"
        :as="{ component: 'AzaleaSproutLink', props: { href: '/search/artworks' } }"
        variant="primary"
        button-text="Browse"
        :full-width="true"
      >
        <template #body>
          <p>The museum’s collection charts the nation’s growth from a young republic to an emerging world power.</p>
        </template>
        <template #footer>
          <azalea-sprout-push-button variant="primary-inverse" :full-width="true">Browse</azalea-sprout-push-button>
        </template>
      </azalea-plant-card>
      <azalea-plant-card
        title="Browse Artists"
        :as="{ component: 'AzaleaSproutLink', props: { href: '/art/artists' } }"
        variant="secondary"
        :full-width="true"
      >
        <template #body>
          <p>
            Browse artists by U.S. State as a starting point to learn more about these artists, their work, and our
            country.
          </p>
        </template>
        <template #footer>
          <azalea-sprout-push-button variant="secondary-inverse" :full-width="true">Browse</azalea-sprout-push-button>
        </template>
      </azalea-plant-card>
      <azalea-plant-card
        title="Collection Data"
        :as="{ component: 'AzaleaSproutLink', props: { href: '/art/data' } }"
        variant="tertiary"
        :full-width="true"
      >
        <template #footer>
          <azalea-sprout-push-button :full-width="true">See report</azalea-sprout-push-button>
        </template>
      </azalea-plant-card>
    </azalea-sprout-grid>
    <p>
      The Smithsonian American Art Museum, the nation’s first collection of American art, is an unparalleled record of
      the American experience. The collection captures the aspirations, character, and imagination of the American
      people throughout three centuries. The museum is the home to one of the largest and most inclusive collections of
      American art in the world. Its artworks reveal key aspects of America’s rich artistic and cultural history from
      the colonial period to today.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'ArtAndArtistsPage',
    head() {
      return {
        title: 'Art and Artists',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content:
              "Learn about the art and artists from the first collection of American art and one of the world's largest and most inclusive collections of art.",
          },
        ],
      }
    },
  }
</script>
