<template>
  <azalea-plant-audio-player v-if="component.audio.length > 0" :items="items"></azalea-plant-audio-player>
</template>

<script>
  export default {
    props: {
      component: {
        type: Object,
        default: null,
      },
    },
    computed: {
      items() {
        const items = []
        this.component.audio.forEach((audio) => {
          const item = { title: audio.title, description: audio.description }
          item.sources = [
            {
              src: audio.src,
              type: audio.mimeType,
            },
          ]
          item.imageSrc = audio.image?.sizes?.default
          items.push(item)
        })
        return items
      },
    },
  }
</script>
