<template>
  <azalea-sprout-heading :size="component.size" v-text="component.title"></azalea-sprout-heading>
</template>

<script>
  export default {
    props: {
      component: {
        type: Object,
        default: null,
      },
    },
  }
</script>
