<template>
  <div>
    <azalea-sprout-figure>
      <template #media>
        <azalea-sprout-image :src="src" :alt="component.image.alt"></azalea-sprout-image>
      </template>
      <template #caption>
        <div v-if="component.includeCaption && component.image.caption">
          <azalea-sprout-description-text
            type="caption"
            v-html="component.image.caption"
          ></azalea-sprout-description-text>
        </div>
      </template>
    </azalea-sprout-figure>
    <azalea-sprout-body-text v-if="component.text" v-html="component.text"></azalea-sprout-body-text>
  </div>
</template>

<script>
  export default {
    props: {
      component: {
        type: Object,
        default: null,
      },
    },
    computed: {
      src() {
        if (this.component.aspectRatio) {
          return this.component.image.sizes.large.replace('styles/large', `styles/large_${this.component.aspectRatio}`)
        }
        return this.component.image.sizes.large
      },
    },
  }
</script>
