<template>
  <azalea-sprout-body-text v-if="component.text" as="div" v-html="component.text"></azalea-sprout-body-text>
</template>

<script>
  export default {
    props: {
      component: {
        type: Object,
        default: null,
      },
    },
  }
</script>
