<template>
  <div class="flex flex-col h-screen">
    <app-navbar @toggle-drawer="toggleDrawer"></app-navbar>
    <div class="flex-grow">
      <Nuxt />
    </div>
    <azalea-plant-drawer v-if="drawerOpen" side="right" @close-drawer="toggleDrawer">
      <template #nav>
        <app-search-form :show-suggestions="false" form-action="/search" @submitted="toggleDrawer"></app-search-form>
        <!--        <azalea-plant-search-bar :initial-focus="true" @submitted="submitSearch(value)"></azalea-plant-search-bar>-->
        <azalea-seedling-nav-list :items="mainMenuItems" @click.native="toggleDrawer"></azalea-seedling-nav-list>

        <!--        <app-drawer-menu @click.native="toggleDrawer"></app-drawer-menu>-->
      </template>
    </azalea-plant-drawer>
    <azalea-plant-modal v-if="modalOpen" @close-modal="toggleModal">
      <template #body>
        <client-only>
          <div class="w-full lg:w-1/2 md-3/4 mx-auto">
            <app-search-form @submitted="toggleModal" @suggestion-link-clicked="toggleModal"></app-search-form>
          </div>
        </client-only>
      </template>
    </azalea-plant-modal>
    <azalea-sprout-container as="footer" variant="primary">
      <p class="w-full text-center my-12 p-8 md:p-16 text-tertiary-50">This is a footer</p>
    </azalea-sprout-container>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    data() {
      return {
        mobileMenuVisible: false,
      }
    },
    computed: {
      modalOpen() {
        return this.$store.state.interface.modalOpen
      },
      drawerOpen() {
        return this.$store.state.interface.drawerOpen
      },
      mainMenuItems() {
        // Get enabled items from main menu store.
        const items = this.$store.state.menu.main.filter((item) => item.enabled)
        // Rename the path property.
        items.forEach((item, index) => {
          items[index].path = items[index].url
        })
        return items
      },
    },
    methods: {
      ...mapMutations('interface', {
        toggleModal: 'toggleModal',
        toggleDrawer: 'toggleDrawer',
      }),
    },
  }
</script>
