<template>
  <!-- The error page does not use nuxt-links forcing the app to reload after errors -->
  <div class="flex w-screen h-screen">
    <div class="m-auto w-3/4">
      <div v-if="error.statusCode === 404">
        <azalea-sprout-heading :level="1">Page Not Found</azalea-sprout-heading>
        <p>Sorry, the page you requested wasn't found. Try searching for something else</p>
      </div>
      <div v-else>
        <azalea-sprout-heading :level="1">Error.</azalea-sprout-heading>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    layout: 'fullscreen',
    // eslint-disable-next-line vue/require-prop-types
    props: ['error'],
  }
</script>
