<template>
  <viola-content-page-default v-if="content" :content="content" :data-uuid="content.uuid"></viola-content-page-default>
</template>

<script>
  export default {
    name: 'BasicPage',
    async asyncData({ route, error, $viola }) {
      try {
        const content = await $viola.getEntityFromPath(route.path)
        return { content }
      } catch (e) {
        error(e)
      }
    },
    head() {
      return {
        title: this.content.title,
        description: this.content.summary,
      }
    },
  }
</script>
