<template>
  <div>
    <azalea-plant-section-header
      heading-text="Smithsonian American Art Museum"
      body-text="Where Will American Art Take You?"
      :image="{
        src: 'https://s3.amazonaws.com/assets.saam.media/files/images/2017-08/electronic_superhighway_hero.jpg',
        alt: 'Electronic Superhighway by Nam June Paik',
      }"
    ></azalea-plant-section-header>
    <azalea-sprout-body-text :prose="true">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cur haec eadem Democritus? Primum Theophrasti, Strato,
        physicum se voluit; Restinguet citius, si ardentem acceperit. Quid autem habent admirationis, cum prope
        accesseris? Duo Reges: constructio interrete. Praeclarae mortes sunt imperatoriae; Si longus, levis. Stoici
        scilicet.
      </p>
      <p>Haec dicuntur inconstantissime. Poterat autem inpune;</p>
      <p>
        Vide, quaeso, rectumne sit. At ille pellit, qui permulcet sensum voluptate. Beatus sibi videtur esse moriens.
        Bestiarum vero nullum iudicium puto.
      </p>
      <p>Cur post Tarentum ad Archytam? Sed ad rem redeamus; Quam si explicavisset, non tam haesitaret.</p>
      <p>
        Nunc agendum est subtilius. Quid, de quo nulla dissensio est? Proclivi currit oratio. Itaque ad tempus ad
        Pisonem omnes. Sint ista Graecorum; Beatus sibi videtur esse moriens. Rationis enim perfectio est virtus;
      </p>
    </azalea-sprout-body-text>
    <app-recent-content></app-recent-content>
  </div>
</template>

<script>
  export default {
    name: 'FrontPage',
    head() {
      return {
        title: 'Welcome to the Smithsonian American Art Museum',
      }
    },
  }
</script>
