<template>
  <section class="azalea-slider flex flex-col">
    <div class="invisible md:visible text-right my-2">
      <div class="slider-nav relative z-0 inline-flex">
        <azalea-sprout-push-button
          :class="['rounded-r-none', { disabled: !scroll.hasPrev }]"
          @click="$refs.horizontal.prev()"
        >
          <span class="sr-only">Previous</span>
          <azalea-sprout-icon
            icon="chevron-left"
            size="small"
            class="text-white"
            aria-hidden="true"
          ></azalea-sprout-icon>
        </azalea-sprout-push-button>
        <azalea-sprout-push-button
          :class="['rounded-l-none', { disabled: !scroll.hasNext }]"
          @click="$refs.horizontal.next()"
        >
          <span class="sr-only">Next</span>
          <azalea-sprout-icon
            icon="chevron-right"
            size="small"
            class="text-white"
            aria-hidden="true"
          ></azalea-sprout-icon>
        </azalea-sprout-push-button>
      </div>
    </div>
    <vue-horizontal v-if="items" ref="horizontal" :button="false" @scroll-debounce="onScrollDebounce">
      <div v-for="(item, index) in items" :key="index" :displacement="2" class="mx-2 md:mx-4 lg:mx-6">
        <component
          :is="item.component"
          v-bind="{ ...item.props }"
          :class="[`w-32 sm:w-40 md:w-72 lg:w-96 max-h-md md:max-h-2xl`, item.class]"
        ></component>
      </div>
    </vue-horizontal>
  </section>
</template>

<script>
  import VueHorizontal from 'vue-horizontal'
  import AzaleaSproutPushButton from '@/components/azalea/sprout/PushButton'
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'
  export default {
    name: 'AzaleaGardenSlider',
    components: { AzaleaSproutPushButton, VueHorizontal, AzaleaSproutIcon },
    props: {
      /**
       * An array of Objects used to populate dynamic components.
       * Each item in the array includes the component name to be rendered and optional props for that component.
       */
      items: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        scroll: '',
      }
    },
    methods: {
      onScrollDebounce(data) {
        this.scroll = data
      },
    },
  }
</script>

<style lang="postcss">
  section.azalea-slider {
    & .slider-nav > button {
      @apply relative inline-flex items-center p-4 border border-primary-600 bg-primary-800 hover:bg-primary-700 focus:z-10 focus:outline-none focus:ring-1 focus:ring-secondary-500 focus:border-secondary-500;
      &.previous {
        @apply rounded-l-md;
      }
      &.next {
        @apply rounded-r-md;
      }
      &.disabled {
        @apply border-tertiary-300 bg-tertiary-200 cursor-default focus:outline-none;
      }
    }
  }
</style>
