<template>
  <div v-if="items.length > 0">
    <vue-masonry-wall :items="items" :options="options" :ssr="{ columns: 2 }" @append="append">
      <template #default="{ item }">
        <component :is="item.component" v-bind="{ ...item.props }" :class="item.class"></component>
      </template>
    </vue-masonry-wall>
  </div>
</template>

<script>
  import VueMasonryWall from 'vue-masonry-wall'
  export default {
    name: 'AzaleaGardenWall',
    components: { VueMasonryWall },
    props: {
      /**
       * An array of Objects used to populate dynamic components.
       * Each item in the array includes the component name to be rendered and optional props for that component.
       */
      items: {
        type: Array,
        default: () => [],
      },
      options: {
        type: Object,
        default: () => ({
          width: 375,
          padding: {
            2: 8,
            default: 12,
          },
        }),
      },
      padding: {
        type: Number,
        default: 8,
      },
    },
    methods: {
      append() {
        console.log('append to masonry wall')
      },
    },
  }
</script>

<style lang="postcss">
  .azalea-grid-item .azalea-gutter-sizer {
    @apply w-2 md:w-4 lg:w-8;
  }
</style>
