<template>
  <transition name="dismiss">
    <div
      v-if="visible"
      class="azalea-badge inline-flex items-center rounded-full font-medium text-gray-800"
      :class="[variant, size === 'large' ? 'text-md px-4 py-2' : 'text-xs px-2 py-1']"
    >
      <azalea-sprout-image
        v-if="image"
        v-bind="{ ...image, class: ['rounded-full', size === 'large' ? 'w-8 h-8' : 'w-6 h-6'] }"
        class="mr-2 -ml-1"
      ></azalea-sprout-image>
      <svg
        v-if="variant === 'status'"
        :class="[status ? 'text-success' : 'text-error', size === 'large' ? 'mx-1 h-4 w-4' : 'mx-1 h-2 w-2']"
        fill="currentColor"
        viewBox="0 0 8 8"
      >
        <circle cx="4" cy="4" r="3" />
      </svg>
      <span v-if="text" v-text="text"></span>
      <slot></slot>
      <azalea-sprout-icon
        v-if="dismissible"
        :class="`cursor-pointer`"
        icon="x"
        :size="size === 'large' ? 'medium' : 'small'"
        @click.native="dismiss(identifier)"
      ></azalea-sprout-icon>
    </div>
  </transition>
</template>

<script>
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'

  export default {
    name: 'AzaleaSproutBadge',
    components: { AzaleaSproutIcon },
    props: {
      /**
       * The component variations.
       * @values 'primary', 'secondary', 'status', 'ghost'
       */
      variant: {
        type: String,
        default: 'default',
      },
      dismissible: {
        type: Boolean,
        default: false,
      },
      // An object of image props used to populate an AzaleaSproutImage component.
      image: {
        type: Object,
        default: () => {},
      },
      /**
       * An identifier for the component when an event is emitted.
       */
      identifier: {
        type: String,
        default: '',
      },
      status: {
        type: Boolean,
        default: false,
      },
      /**
       * The component sizes.
       * @values 'small', 'large'
       */
      size: {
        type: String,
        default: 'small',
      },
      text: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        visible: true,
      }
    },
    methods: {
      dismiss(identifier) {
        this.$emit('badgeClicked', identifier)
        this.visible = false
      },
    },
  }
</script>

<style lang="postcss">
  div.azalea-badge.default,
  div.azalea-badge.status {
    @apply bg-tertiary-200 text-tertiary-800;
  }
  div.azalea-badge.ghost {
    @apply bg-transparent border border-tertiary-400 hover:bg-tertiary-100;
  }
  div.azalea-badge.primary {
    @apply bg-primary-800 text-white;
  }
  div.azalea-badge.secondary {
    @apply bg-secondary-200 text-tertiary-800;
  }
  .dismiss-leave-active {
    @apply opacity-0 transition-opacity duration-200 ease-out;
  }
</style>
