<template>
  <component :is="element" :class="classes">
    <slot></slot>
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSproutDescriptionText',
    props: {
      align: {
        type: String,
        default: 'left',
      },
      type: {
        type: String,
        default: 'default',
      },
      as: {
        type: String,
        default: 'div',
      },
    },
    data() {
      return {
        element: 'div',
        classes: [],
      }
    },
    created() {
      if (['p', 'span', 'figcaption', 'div'].includes(this.as.toLowerCase())) {
        this.element = this.as.toLowerCase()
      }
      const classes = ['azalea-description-text font-body subpixel-antialiased leading-6']
      const align = ['left', 'right', 'center', 'justify'].includes(this.align.toLowerCase())
        ? this.align.toLowerCase()
        : 'left'
      switch (align) {
        case 'right':
          classes.push('text-right')
          break
        case 'left':
          classes.push('text-left')
          break
        case 'center':
          classes.push('text-center')
          break
        case 'justify':
          classes.push('text-justify')
          break
      }
      const variant = ['caption', 'credit', 'lead', 'quote', 'default'].includes(this.type.toLowerCase())
        ? this.type.toLowerCase()
        : 'default'
      switch (variant) {
        case 'caption':
          classes.push('text-xs leading-none font-normal text-black')
          break
        case 'credit':
          classes.push('text-xs leading-4 font-medium tracking-wide text-tertiary-500 uppercase')
          break
        case 'lead':
          classes.push('text-2xl md:text-3xl lg:text-4xl font-semibold text-tertiary-400')
          break
        case 'quote':
          classes.push('text-2xl md:text-3xl lg:text-4xl font-normal leading-7 text-tertiary-800')
          break
      }
      this.classes = classes
    },
  }
</script>
