<template>
  <figure class="">
    <div v-if="hasSlot('media') || image">
      <div v-if="image">
        <azalea-sprout-image v-bind="{ ...image }"></azalea-sprout-image>
      </div>
      <slot name="media"></slot>
    </div>
    <figcaption v-if="hasSlot('caption') || caption" class="mt-3 md:mt-6">
      <azalea-sprout-description-text v-if="caption" type="caption" v-text="caption"></azalea-sprout-description-text>
      <slot name="caption"></slot>
    </figcaption>
  </figure>
</template>

<script>
  import AzaleaSproutImage from '~/components/azalea/sprout/Image'
  import AzaleaSproutDescriptionText from '~/components/azalea/sprout/DescriptionText'
  export default {
    name: 'AzaleaSproutFigure',
    components: { AzaleaSproutDescriptionText, AzaleaSproutImage },
    props: {
      /**
       * Component props of an Image component.
       */
      image: {
        type: Object,
        default: () => {},
        required: false,
      },
      caption: {
        type: String,
        default: '',
      },
    },
    methods: {
      hasSlot(name = 'default') {
        return !!this.$slots[name] || !!this.$scopedSlots[name]
      },
    },
  }
</script>

<style>
  .azalea-alt-text-sr-only {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
</style>
