<template>
  <div>
    <div class="flex justify-between">
      <!-- eslint-disable vuejs-accessibility/label-has-for -->
      <label
        v-if="label"
        :for="name"
        class="text-sm font-medium"
        :class="[{ 'sr-only': !labelVisible }, error ? 'text-error' : 'text-tertiary-700']"
      >
        {{ label }}
      </label>
      <!-- eslint-enable -->
      <span v-if="hint" :id="`${id}-hint`" class="text-sm text-tertiary-500" v-text="hint"></span>
    </div>
    <div class="relative mt-1">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <azalea-sprout-icon v-if="leadingIcon" :icon="leadingIcon" :class="`text-tertiary-500`"></azalea-sprout-icon>
      </div>
      <!-- eslint-disable vuejs-accessibility/form-control-has-label -->
      <input
        :id="id"
        :type="type"
        :name="name"
        class="block w-full rounded-md shadow-sm sm:text-sm"
        :class="[
          error
            ? 'border-error text-error placeholder-error focus:outline-none focus:ring-error focus:border-error'
            : 'focus:ring-primary-500 focus:border-primary-500 border-tertiary-300',
          { 'pl-12': leadingIcon },
        ]"
        :placeholder="placeholder"
        :aria-describedby="`${id}-help`"
      />
      <!-- eslint-enable -->
    </div>
    <p v-if="help" :id="`${id}-help`" class="mt-2 text-sm text-tertiary-500" v-text="help"></p>
    <azalea-sprout-form-control-error v-if="error" :message="errorMessage"></azalea-sprout-form-control-error>
  </div>
</template>

<script>
  import { v4 as uuid } from 'uuid'
  import AzaleaSproutFormControlError from '~/components/azalea/sprout/FormControlError'

  export default {
    name: 'AzaleaSproutFormInput',
    components: { AzaleaSproutFormControlError },
    props: {
      label: {
        type: String,
        default: '',
      },
      labelVisible: {
        type: Boolean,
        default: true,
      },
      name: {
        type: String,
        default: '',
        required: true,
      },
      type: {
        type: String,
        default: 'text',
      },
      placeholder: {
        type: String,
        default: '',
      },
      help: {
        type: String,
        default: '',
      },
      hint: {
        type: String,
        default: '',
      },
      leadingIcon: {
        type: String,
        default: '',
      },
      error: {
        type: Boolean,
        default: false,
      },
      errorMessage: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        id: null,
      }
    },
    mounted() {
      this.id = uuid()
    },
  }
</script>
