<template>
  <div :class="classes">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaSproutGrid',
    props: {
      direction: {
        type: String,
        default: 'col',
      },
      template: {
        type: String,
        default: '2',
      },
      gap: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {
        classes: [],
      }
    },
    created() {
      const classes = ['azalea-grid grid']
      const direction = this.direction.toLowerCase()
      classes.push(`grid-${direction}s-${this.template.toLowerCase()}`)
      if (direction === 'row') {
        classes.push('grid-flow-col')
      }
      if (this.gap) {
        classes.push('gap-2 md:gap-4 lg:gap-6')
      } else {
        classes.push('gap-0.5')
      }
      this.classes = classes
    },
  }
</script>
