<template>
  <div class="azalea-icon fill-current" :class="getSize()" v-html="svg"></div>
</template>

<script>
  export default {
    name: 'AzaleaSproutIcon',
    props: {
      size: {
        type: String,
        default: 'medium',
      },
      icon: {
        type: String,
        required: true,
      },
    },
    computed: {
      svg() {
        return require(`~/assets/icons/outline/${this.icon}.svg?raw`)
      },
    },
    methods: {
      getSize() {
        switch (this.size) {
          case 'xsmall':
            return ['w-3', 'h-3']
          case 'small':
            return ['w-4', 'h-4']
          case 'medium':
            return ['w-6', 'h-6']
          case 'large':
            return ['w-12', 'h-12']
          case 'xlarge':
            return ['w-16', 'h-16']
          default:
            return ['w-6', 'h-6']
        }
      },
    },
  }
</script>
