<template>
  <img
    :id="id"
    class="max-w-full max-h-full mx-auto azalea-alt-text-sr-only"
    :class="{ 'object-cover lg:h-full lg:w-full': cover }"
    :alt="alt"
    :src="src"
    :title="title"
    loading="lazy"
  />
</template>

<script>
  export default {
    name: 'AzaleaSproutImage',
    props: {
      id: {
        type: String,
        default: '',
        required: false,
      },
      src: {
        type: String,
        default: '',
        required: true,
      },
      alt: {
        type: String,
        default: '',
        required: true,
      },
      title: {
        type: String,
        default: '',
        required: false,
      },
      cover: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style>
  .azalea-alt-text-sr-only {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
</style>
