<template>
  <button
    class="
      azalea-push-button
      inline-flex
      items-center
      py-2
      px-4
      border border-transparent
      shadow-sm
      hover:shadow-md
      rounded
      no-underline
      whitespace-nowrap
      flex-grow-0
      text-lg
      font-sans font-semibold
      transition-colors transition-transform
      duration-1000
      ease-out
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-500
      azalea-touch-action
    "
    :class="[getFontSize(), variant, { 'w-full justify-center': fullWidth }]"
    @click="clicked"
    @keydown="clicked"
  >
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: 'AzaleaSproutPushButton',
    props: {
      /**
       * The component variations.
       * @values 'primary', 'primary-inverse', 'secondary', 'secondary-inverse', 'tertiary', 'success', 'warning', 'error', 'label', or 'text'
       */
      variant: {
        type: String,
        default: 'default',
      },
      id: {
        type: String,
        default: '',
      },
      size: {
        type: String,
        default: 'medium',
      },
      fullWidth: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      clicked(event) {
        this.$emit('click', event)
      },
      getFontSize() {
        switch (this.size) {
          case 'xsmall':
            return 'text-xs'
          case 'small':
            return 'text-sm'
          case 'medium':
            return 'text-lg'
          case 'large':
            return 'text-xl'
          case 'xlarge':
            return 'text-2xl'
          default:
            return 'text-lg'
        }
      },
    },
  }
</script>

<style lang="postcss">
  button.azalea-push-button {
    &.default {
      @apply bg-transparent border border-tertiary-400 hover:bg-tertiary-100;
    }
    &.text {
      @apply text-secondary-500 uppercase shadow-none hover:shadow-none;
    }
    &.label {
      @apply border-0 shadow-none hover:shadow-none;
    }
    &.primary {
      @apply bg-primary-800 hover:bg-primary-600 text-white;
    }
    &.primary-inverse {
      @apply bg-white hover:bg-primary-800 border border-primary-600 text-primary-600 hover:text-white;
    }
    &.secondary {
      @apply bg-secondary-700 hover:bg-secondary-600 text-white;
    }
    &.secondary-inverse {
      @apply bg-white hover:bg-secondary-700 border border-secondary-600 text-secondary-600 hover:text-white;
    }
    &.tertiary {
      @apply bg-tertiary-600 hover:bg-tertiary-300 text-white;
    }
    &.success {
      @apply bg-success;
    }
    &.warning {
      @apply bg-warning;
    }
    &.error {
      @apply bg-error;
    }
    &.success,
    &.warning,
    &.error {
      @apply text-white filter hover:brightness-110;
    }
  }
</style>
