<template>
  <div
    class="flex flex-col flex-wrap space-y-3 max-w-sm animate-pulse"
    :class="[fullHeight ? 'h-full' : false]"
    aria-busy="true"
    aria-live="polite"
    role="alert"
  >
    <div
      v-for="num in numBoxes"
      :key="num"
      class="h-6 bg-tertiary-300 rounded-md"
      :class="[randomWidth ? randomClass() : false, fullHeight ? 'h-full' : 'h-6']"
    ></div>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaSproutSkeleton',
    props: {
      numBoxes: {
        type: Number,
        default: 1,
      },
      randomWidth: {
        type: Boolean,
        default: false,
      },
      fullHeight: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      randomClass() {
        const classes = ['w-full', 'w-1/4', 'w-1/2', 'w-3/4']
        return classes[Math.floor(Math.random() * classes.length)]
      },
    },
  }
</script>
