<template>
  <div v-show="loading" class="azalea-spinner" :class="size">
    <svg class="animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaSproutSpinner',
    props: {
      loading: {
        type: Boolean,
        default: false,
        required: true,
      },
      size: {
        type: String,
        default: 'medium',
      },
    },
  }
</script>

<style lang="postcss">
  div.azalea-spinner {
    @apply flex items-center justify-center fill-current bg-white shadow-highlight rounded-full text-secondary-600;
    &.small {
      @apply w-6 h-6;
      & > svg {
        @apply w-4 h-4;
      }
    }
    &.medium {
      @apply w-9 h-9;
      & > svg {
        @apply w-6 h-6;
      }
    }
    &.large {
      @apply w-16 h-16;
      & > svg {
        @apply w-12 h-12;
      }
    }
  }
</style>
