<template>
  <div class="tag text-tertiary-700 uppercase" :class="size" v-text="text"></div>
</template>

<script>
  export default {
    name: 'AzaleaSproutTag',
    props: {
      text: {
        type: String,
        default: '',
        required: true,
      },
      size: {
        type: String,
        default: 'medium',
      },
    },
  }
</script>

<style lang="postcss">
  div.tag.xsmall {
    @apply text-xs leading-4;
  }
  div.tag.small {
    @apply text-sm leading-4;
  }
  div.tag.medium {
    @apply text-base;
  }
  div.tag.large {
    @apply text-lg;
  }
  div.tag.xlarge {
    @apply text-2xl;
  }
</style>
