<template>
  <div>
    <div class="flex justify-between">
      <!-- eslint-disable vuejs-accessibility/label-has-for -->
      <label v-if="label" :for="name" class="text-sm font-medium" :class="[error ? 'text-error' : 'text-tertiary-700']">
        {{ label }}
      </label>
      <!-- eslint-enable -->
      <span v-if="hint" :id="`${id}-hint`" class="text-sm text-tertiary-500" v-text="hint"></span>
    </div>
    <div class="relative mt-1">
      <!-- eslint-disable vuejs-accessibility/form-control-has-label -->
      <textarea
        :id="id"
        :name="name"
        :rows="rows"
        class="shadow-sm block w-full sm:text-sm border rounded-md"
        :class="[
          error
            ? 'border-error text-error focus:outline-none focus:ring-error focus:border-error'
            : 'border-tertiary-300 focus:ring-primary-500 focus:border-primary-500',
          resize ? 'resize-y' : 'resize-none',
        ]"
      />
      <!-- eslint-enable -->
      <p v-if="help" :id="`${id}-help`" class="mt-2 text-sm text-tertiary-500" v-text="help"></p>
      <azalea-sprout-form-control-error v-if="error" :message="errorMessage"></azalea-sprout-form-control-error>
    </div>
  </div>
</template>

<script>
  import { v4 as uuid } from 'uuid'
  import AzaleaSproutFormControlError from '~/components/azalea/sprout/FormControlError'

  export default {
    name: 'AzaleaSproutTextArea',
    components: { AzaleaSproutFormControlError },
    props: {
      label: {
        type: String,
        default: '',
      },
      name: {
        type: String,
        default: '',
        required: true,
      },
      help: {
        type: String,
        default: '',
      },
      rows: {
        type: Number,
        default: 3,
      },
      hint: {
        type: String,
        default: '',
      },
      error: {
        type: Boolean,
        default: false,
      },
      resize: {
        type: Boolean,
        default: false,
      },
      errorMessage: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        id: null,
      }
    },
    mounted() {
      this.id = uuid()
    },
  }
</script>
