<template>
  <transition name="dismiss">
    <div v-if="visible" :class="`bg-${variant}-700`">
      <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-wrap">
          <div class="w-0 flex-1 flex items-center">
            <span class="flex p-2 rounded-lg" :class="`bg-${variant}-500`">
              <azalea-sprout-icon icon="information-circle" :class="`text-white`"></azalea-sprout-icon>
            </span>
            <azalea-sprout-body-text size="medium" class="ml-3 font-medium text-white truncate">
              <span class="md:hidden"> {{ brief }} </span>
              <span class="hidden md:inline"> {{ message }} </span>
            </azalea-sprout-body-text>
          </div>
          <div v-if="link" class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
            <azalea-sprout-link :href="link">
              <azalea-sprout-push-button :variant="`${variant}-inverse`" @click="visible = false">
                <span v-if="linkText" v-text="linkText"></span>
                <span v-else>Learn more</span>
              </azalea-sprout-push-button>
            </azalea-sprout-link>
          </div>
          <div v-if="dismissible" class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
            <azalea-sprout-push-button variant="text" @click="visible = false">
              <span class="sr-only">Dismiss</span>
              <azalea-sprout-icon icon="x" :class="`text-white`"></azalea-sprout-icon>
            </azalea-sprout-push-button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import AzaleaSproutPushButton from '@/components/azalea/sprout/PushButton'
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'
  import AzaleaSproutLink from '~/components/azalea/sprout/Link'
  import AzaleaSproutBodyText from '~/components/azalea/sprout/BodyText'

  export default {
    name: 'AzaleaSeedlingBanner',
    components: { AzaleaSproutBodyText, AzaleaSproutLink, AzaleaSproutPushButton, AzaleaSproutIcon },
    props: {
      /**
       * The component variations.
       * @values 'primary', 'secondary'
       */
      variant: {
        type: String,
        default: 'primary',
      },
      dismissible: {
        type: Boolean,
        default: true,
      },
      /**
       * A shortened message for small screens.
       */
      brief: {
        type: String,
        default: '',
      },
      message: {
        type: String,
        default: '',
      },
      link: {
        type: String,
        default: '',
      },
      linkText: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        visible: true,
      }
    },
  }
</script>

<style lang="postcss">
  .dismiss-leave-active {
    @apply opacity-0 transition-opacity duration-200 ease-out;
  }
</style>
