<template>
  <nav class="azalea-breadcrumb md:flex" aria-label="Breadcrumb">
    <ol v-show="items" class="flex items-center space-x-6">
      <li v-for="(item, index) in items" :key="index">
        <div :class="{ 'flex items-center': index !== 0 }">
          <div v-if="index !== 0">/</div>
          <div :class="{ 'ml-4': index !== 0 }" class="text-xs sm:text-sm md:text-lg">
            <azalea-sprout-link
              v-if="item.link && item.link.href"
              :href="item.link.href"
              class="text-tertiary-500 hover:text-tertiary-900 whitespace-nowrap"
            >
              {{ item.title }}
            </azalea-sprout-link>
            <span v-else class="text-tertiary-900">{{ item.title }}</span>
          </div>
        </div>
      </li>
    </ol>
  </nav>
</template>

<script>
  import AzaleaSproutLink from '~/components/azalea/sprout/Link'

  export default {
    name: 'AzaleaSeedlingBreadcrumb',
    components: { AzaleaSproutLink },

    props: {
      items: {
        type: Array,
        required: true,
        default: () => [],
      },
    },
  }
</script>

<style lang="postcss">
  nav.azalea-breadcrumb ol {
    list-style-type: none;
    counter-reset: none;
    & li {
      counter-increment: none;
      &::before {
        content: none;
      }
    }
  }
</style>
