<template>
  <fieldset class="space-y-5 p-2 md:p-3 lg:p-4" :class="{ 'border border-error rounded-sm': error }">
    <legend
      v-if="legend"
      :for="name"
      class="text-sm font-medium"
      :class="[{ 'sr-only': !legendVisible }, error ? 'text-error' : 'text-tertiary-700']"
    >
      {{ legend }}
    </legend>
    <div v-for="(item, index) in items" :key="index" class="relative flex items-start">
      <div class="flex items-center h-5">
        <!-- eslint-disable vuejs-accessibility/form-control-has-label -->
        <input
          :id="`${id}-${index}`"
          :aria-describedby="`${id}-${index}-description`"
          name="comments"
          type="checkbox"
          class="focus:ring-primary-500 h-4 w-4 text-primary-600 border-tertiary-300 rounded"
          :checked="item.checked"
        />
      </div>
      <!-- eslint-enable -->
      <div class="ml-3 text-sm">
        <!-- eslint-disable vuejs-accessibility/label-has-for -->
        <label :for="`${id}-${index}`" class="font-medium text-tertiary-700">{{ item.label }}</label>
        <!-- eslint-enable -->
        <p :id="`${id}-${index}-description`" class="mt-2 text-sm text-tertiary-500" v-text="item.description"></p>
      </div>
    </div>
    <azalea-sprout-form-control-error v-if="error" :message="errorMessage"></azalea-sprout-form-control-error>
  </fieldset>
</template>

<script>
  import { v4 as uuid } from 'uuid'
  import AzaleaSproutFormControlError from '~/components/azalea/sprout/FormControlError'

  export default {
    name: 'AzaleaSeedlingCheckboxes',
    components: { AzaleaSproutFormControlError },
    props: {
      legend: {
        type: String,
        default: '',
      },
      legendVisible: {
        type: Boolean,
        default: true,
      },
      name: {
        type: String,
        default: '',
        required: true,
      },
      items: {
        type: Array,
        default: () => [],
      },
      error: {
        type: Boolean,
        default: false,
      },
      errorMessage: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        id: null,
      }
    },
    mounted() {
      this.id = uuid()
    },
  }
</script>
