<template>
  <header class="azalea-block-header py-4 md:py-4 lg:py-12 border-t-2 md:border-t-4 border-tertiary-500">
    <div class="sm:flex sm:items-center sm:justify-between">
      <azalea-sprout-heading v-bind="{ ...headingProps }">
        {{ headingText }}
      </azalea-sprout-heading>
      <div class="mt-3 flex sm:mt-0 sm:ml-4">
        <slot name="action"></slot>
      </div>
    </div>
    <azalea-sprout-heading v-if="descriptionText" size="small">
      {{ descriptionText }}
    </azalea-sprout-heading>
  </header>
</template>

<script>
  import AzaleaSproutHeading from '~/components/azalea/sprout/Heading'
  export default {
    name: 'AzaleaSeedlingContentHeader',
    components: { AzaleaSproutHeading },
    props: {
      /**
       * An Object used to populate props of the Heading component.
       */
      heading: {
        type: Object,
        default: () => {},
      },
      headingText: {
        type: String,
        default: '',
      },
      descriptionText: {
        type: String,
        default: '',
      },
    },
    computed: {
      headingProps() {
        return this.heading ?? { as: 'h5', weight: 'semibold' }
      },
    },
  }
</script>
