<template>
  <azalea-seedling-pop-over :open="open" @close-popover="open = false">
    <template #button>
      <azalea-sprout-push-button
        variant="label"
        class="shadow-none"
        :class="[open ? 'text-secondary-400' : 'text-tertiary-500', { 'w-full justify-center': block }]"
        @click="toggle"
      >
        <span>{{ label }}</span>
        <azalea-sprout-icon v-if="open" icon="x" variant class="ml-2 text-secondary-400"></azalea-sprout-icon>
        <azalea-sprout-icon v-else icon="chevron-down" variant class="ml-2 text-tertiary-500"></azalea-sprout-icon>
      </azalea-sprout-push-button>
    </template>
    <slot></slot>
  </azalea-seedling-pop-over>
</template>

<script>
  import AzaleaSproutPushButton from '@/components/azalea/sprout/PushButton'
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'
  import AzaleaSeedlingPopOver from '~/components/azalea/seedling/PopOver'
  export default {
    name: 'AzaleaSeedlingDropdown',
    components: { AzaleaSeedlingPopOver, AzaleaSproutIcon, AzaleaSproutPushButton },
    props: {
      label: {
        type: String,
        required: true,
      },
      /**
       * Display full width.
       */
      block: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        open: false,
      }
    },
    methods: {
      toggle() {
        this.open = !this.open
      },
    },
  }
</script>
