<template>
  <div class="relative">
    <slot name="button"></slot>
    <transition
      enter-active-class="transition ease-out duration-200"
      enter-from-class="opacity-0 translate-y-1"
      enter-to-class="opacity-100 translate-y-0"
      leave-active-class="transition ease-in duration-150"
      leave-from-class="opacity-100 translate-y-0"
      leave-to-class="opacity-0 translate-y-1"
    >
      <div
        v-show="open"
        class="azalea-popover"
        :class="[full ? 'full' : 'default', position === 'above' ? 'above' : 'below']"
        @click="$emit('close-popover')"
        @keydown="$emit('close-popover')"
      >
        <div
          class="ring-1 ring-black ring-opacity-5 overflow-hidden"
          :class="[{ 'rounded-lg': rounded }, { 'shadow-lg': shadow }]"
        >
          <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
            <slot></slot>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaSeedlingPopOver',
    props: {
      open: {
        type: Boolean,
        default: false,
      },
      /**
       * Display the popover at full width.
       */
      full: {
        type: Boolean,
        default: false,
      },
      /**
       * Expand popover position relative to parent.
       * values: 'above' or 'below' (default)
       */
      position: {
        type: String,
        default: 'below',
      },
      rounded: {
        type: Boolean,
        default: true,
      },
      shadow: {
        type: Boolean,
        default: true,
      },
    },
  }
</script>

<style lang="postcss">
  .azalea-popover {
    @apply absolute z-10 px-2 sm:px-0 max-h-screen;
    &.default {
      @apply w-screen max-w-sm;
    }
    &.full {
      @apply w-full;
    }
    &.above {
      @apply bottom-0 transform -translate-y-0 mb-3;
    }
    &.below {
      @apply left-1/2 transform -translate-x-1/2 mt-3;
    }
  }
</style>
