<template>
  <div>
    <div class="sm:hidden">
      <label :for="id">
        <span class="sr-only">Select a tab</span>
        <select
          :id="id"
          name="tabs"
          class="
            block
            w-full
            pl-3
            pr-10
            py-2
            text-base
            border-tertiary-300
            focus:outline-none focus:ring-secondary-500 focus:border-secondary-500
            sm:text-sm
            rounded-md
          "
        >
          <option v-for="tab in tabs" :key="tab.name" :selected="tab.current">{{ tab.name }}</option>
        </select>
      </label>
    </div>
    <div class="hidden sm:block">
      <div class="border-b border-tertiary-200">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
          <azalea-sprout-link
            v-for="tab in tabs"
            :key="tab.name"
            :href="tab.href"
            :route="tab.route"
            :class="[
              tab.current
                ? 'border-secondary-500 text-secondary-600'
                : 'border-transparent text-tertiary-500 hover:text-tertiary-700 hover:border-tertiary-300',
              'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-lg',
            ]"
            :aria-current="tab.current ? 'page' : false"
            @click="$emit('tab-selected', tab)"
          >
            {{ tab.name }}
            <span v-if="tab.count">({{ tab.count }})</span>
          </azalea-sprout-link>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  import { v4 as uuid } from 'uuid'

  export default {
    name: 'AzaleaSeedlingTabs',
    props: {
      /**
       * Array of tabs.
       */
      tabs: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        id: null,
      }
    },
    mounted() {
      this.id = uuid()
    },
  }
</script>
