<template>
  <div>
    <app-search-back-button></app-search-back-button>
    <viola-content-artwork-default
      v-if="content"
      :content="content"
      :data-uuid="content.uuid"
    ></viola-content-artwork-default>
    <block-more-artworks v-if="content" :parent-content="content"></block-more-artworks>
  </div>
</template>

<script>
  export default {
    name: 'ArtworkPage',
    async asyncData({ route, error, $viola }) {
      try {
        const content = await $viola.getEntityFromPath(route.path)
        return { content }
      } catch (e) {
        error(e)
      }
    },
    head() {
      return {
        title: this.content.title,
        description: this.content.description,
      }
    },
    mounted() {
      if (this.content) {
        this.$store.commit('recent/addArtwork', this.content)
      }
    },
  }
</script>
